body {
	font: 14px/18px Arial;
	background: url("bg000000.jpg") top center no-repeat;
}

h1 {
	color: #444;
	text-transform: uppercase;
	font-size: 20px;
	margin-left: 20px;
}

h2 {
	color: #444;
	border-bottom: 1px dotted #ccc;
	margin: 0 0 10px;
	padding: 0 0 3px;
	text-transform: uppercase;
	font-size: 16px;
	width: 100%
}

#pageWrap {
	width: 100%;
	margin: auto;
	padding: 0px 0;
}

#pageWrap .treeview ul {
	background: none;
}

.delCat {
	padding-top: 10px;
}

.sc-foot {
	width: 970px;
	padding: 20px 5px 80px 25px;
	margin: auto;
	font-size: 12px;
	color: #808080;
}

.left {
	float: left;
}

.right {
	float: right;
}

.display { display: block; }

.clear {
	clear: both;
}

.black {
	color: #000 !important;
}

.red {
	color: #c00 !important; 
}

.green {
	color: #0c0 !important;
}

.blue {
	color: #3d96cf !important;
}

.sc-border {
	border-top: 1px solid #e6e6e6;
	width: 100%;
	height: 1px;
}

#head {
	width: 100%;
	margin: auto;
	padding: 20px 0 0 0;
}

#head img {
	border: none;
	margin: 0 20px 15px 0;
}

#head .admintitle {
	border-left: 1px solid #e6e6e6;
	padding: 35px 15px;
	font: bold 16px Arial;
	margin-left: 10px;
}

#head .admintitle a {
	font: bold 16px Arial;
	text-decoration: underline;
	color: #6c3;
	text-transform: uppercase
}

#head .admintitle a:hover {
	color: #000;
}

.head-menu {
	display: block;
	padding: 10px;
	margin: 20px 50px 0 20px;
	background-color: #6c3;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 12px;
	color: #fff;
	text-decoration: none;
}

.head-menu:hover {
	background-color: #44c522;
}

#head.head-sc {
	height: 50px;
}

.sc-login-block {
	margin: 70px auto 90px;
	width: 350px;
}

.sc-border {
	border-top: 1px solid #e6e6e6;
	width: 100%;
	height: 1px;
}

.sc-login-head {
	font: 24px Arial;
	color: #303030;
	width: 100%;
	text-align: center;
}

.sc-login-form {
	border: 10px solid #6c3;
	padding: 10px 22px;
	font: 14px/18px Arial;
}

.sc-login-input {
	border: 1px solid #d6d6d6;
	height: 24px;
	width: 265px;
}

.sc-login-submit {
	cursor: pointer;
	margin-top: 10px;
	width: 70px;
	height: 30px;
	border: none;
	background-color: #d6d6d6;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
}

.sc-login-submit:hover {
	background-color: #6c3;
	color: #fff;
}

.sc-login-name {
	padding: 10px 0;
}

.sc-lc {
	width: 10px;
	background: url("../images/service/input_cor.jpg") no-repeat;
}

.sc-rc {
	width: 10px;
	background: url("../images/service/input_cos.jpg") no-repeat;
}	

/*
 * Наполнение страницы
 */
 
.sidebar {
	width: 220px;
	margin-left: 40px;
	margin-top: 44px;
	padding: 15px 10px 30px;
}

.additional-images {
	margin-top: 20px;	
}

.additional-images div {
	padding: 10px;
}
.additional-images .thumb {
	padding: 9px;
	border: 1px solid #00c;
}

.bannetable tr td {
	vertical-align: middle;
	padding: 10px;
}

.banneTitle {
	color: #000
}

.banneTitle:hover {
	text-decoration: none;
}

.block {
	padding: 20px 20px 30px;
}

.block p {
	margin-bottom: 25px;
}

.brands-form-delete {
	margin-top: 17px;
}

.brands-form-title {
	margin: 15px 15px 0 0;
}

.brands-form-save {
	margin-right: 15px; 
}

.button {
	color: #000;
}

.button:hover {
	text-decoration: none;
}

.catName {
	display: block;
	overflow: hidden;
	width: 120px;
	text-decoration: none;
	color: #379409;
}

.catName.active {
	font-weight: 700;
	color: #cc0000;
}

.catName div {
}

.catName:hover {
	color: #f00;
}

.cellButton {
	text-decoration: none;
	color: #000;
	display: block;
	height: 100%;
	text-align: center;
}

.cellButton:hover {
	color: #f00;
}

.content {
	margin-left:275px;
	margin-right:0px;
	margin-bottom: 30px;
	border-left: 1px solid #ccc;
	background-color: #fff;
}

.delButton {
	color: #f00; 	text-decoration: none;
}

.delButton:hover {
	text-decoration: underline;
}

.errorSummary {
	padding: 10px;
}

.group {
	padding: 5px;
	margin: 5px;
}

.group .title {
	display: block;
}

.hint {
	font: italic 12px Arial;
	color: #aaa;
	padding: 5px;
}

.incomesTable {
	vertical-align: top;
}

.incomesImage a {
	display: block;
}

.itemsList {
	margin-right: 20px;
}

.partnersBlock {
	margin: 5px;
	border: 1px solid #ededed;
}

.arrow {
	text-decoration: none;
	padding: 5px;
	display: block;
	color: #000;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.arrow:hover {
	background-color: #6c3;
	color: #fff;
}

.partnersButton {
	margin: 5px auto 0;
	text-align: center;
}

.partnersTitle {
	font-weight: bold;
}

.position {
	width: 30px !important;
	text-align: center;
}

.tableForm tr td.radioButtons label {
	display: inline;
	margin: 0;
	font-weight: 400;
}

.record {
	padding: 10px 0;
	border-top: 1px solid #f5f5f5;
}

.submenu {
	padding: 0;
	margin: 10px 0 30px;
}

.submenu li {
	list-style: none;
	display: inline-block;
}

.submenu li a {
	display: block;
	text-decoration: none;
	padding: 5px 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #000;
	text-decoration: none;
}

.submenu li a:hover, .submenu li.active a {
	background-color: #6c3;
	color: #fff;
}

.submit {
	margin-top: 10px;
	padding: 10px;
	background-color: #6c3;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.submit:hover, .submit:active {
	background-color: #379409;
}

.submitList {
	clear: both;
	cursor: pointer;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #6c3;
	color: #fff;
	width: 187px;
	height: 20px;
	border: none;
	margin-bottom: 5px
}

.submitList:hover {
	background-color: #379409;
}

.sharesList {
	margin-top: 20px;
}

.swfupload-form {
	text-align: center;
	padding: 5px;
	border: 1px solid #000;
	width: 150px;
	margin-top: 15px;
}

.tableForm {
	width: 600px;
}

.tableForm tr td {
	vertical-align: middle;
	padding: 5px 0 0;
}

.tableForm tr td label {
	display: block;
	margin-top: 10px;
	font-weight: bold;
}

.textInput {
	width: 100%;
	height: 25px;
	padding: 4px 0px;
}

.tableIncomes {
	width: 100%;
}

.tableIncomes th {
	text-align: left;
	padding: 7px 14px !important;
}

.tableIncomes .image {
	padding: 0 14px;
}

.tableIncomes tr.buttons td, .tableIncomes th {
	border-bottom: 1px solid #ededed;
}

.tableIncomes tr.buttons td a {
	display: block;
	font: bold 14px Arial;
	color: #3d96cf;
	text-decoration: none;
	padding: 7px 14px;
}

.tableIncomes tr.buttons td a:hover {
	background-color: #f5f5f5;
}

.tableIncomes tr td textarea {
	margin-top: 5px;
	display: block;
}

.tableIncomes tr.pages td {
	text-align: right;
	padding: 20px 0;
}

/*
 * Персонал
 */
 
.personnel-block {
	width: 980px;
	border: 10px solid #6c3;
	background: #fff;
}

.resume-block {
	width: 620px;
}

.resume-block.left {
	margin-right: 20px;
	max-width: 300px;
}

#resume_comments {
	width: 940px;
}

#resume_comments tr td {
	width: 460px;
	padding: 10px 10px 10px 0;
}

.resume_personal {
}

.resume_title {
	font: bold 16px Arial;
}

.resume_text {
	margin: 15px 0 30px;
	font: 16px/20px Times New Roman;
}

.vacancy-block {
	width: 450px;
}

.resume_text.short {
	margin: 5px 0 30px;
}

.brand {
	padding:9px 22px; border: 1px solid #ccc; background: #F2F2F2; font-size:12px; color: #505050; text-align:center; border-radius:16px; margin-bottom:7px;
}

a.brand_link{
border: none;  font-size:12px; color: #505050; text-align:center; text-decoration:none;
}

a.brand_link:hover span{
background: #F9F9F9;
}
