.menu {

    z-index: 1;
    height:51px;
}

/********* ------------------ **********/
.profile_details{
	float:right;
	margin: 0px;
}

#loginContainer {
    position:relative;
    float:left;
    margin-right:10px;
}

.profile_img{
	float:right;
    margin-top:8px;
    margin-right:15px;
}
.profile_img img{
	display:block;
	border-radius:3em;
	-webkit-border-radius:3em;
	-moz-border-radius:3em;
	-o-border-radius:3em;
	border:3px solid #50597b;
}
/********* ------------------ **********/

.menu ul{
	margin-left:6px;
	width:100%;
}
.menu li{
	float:left;
    height:55px;
}
.menu li a{
	 color:#ABABAB;
	 font-size:14px;
	 padding:16px 20px;
	 display: block;
	 text-align:center;
	 position:relative;
}
.menu li a:hover{
	background:#222222;
	border-bottom:5px solid #11a8ab;
	color:#F9F9F9;
}
.menu li.active{
	border-right: 1px solid #0D0D0D;
	border-left: 1px solid #0D0D0D;
}

.menu li.active a{
	background:#222222;
	border-bottom:5px solid #eab071;
	color:#F9F9F9;

}
.menu li.active a:hover{
	border-bottom:5px solid #cc324b;
}

.menu li.logout{
	float:right;
	margin-right:5px;
	height:35px;

}
.menu li.logout a{
   background: #da3610;
   height:35px;
   margin-top: 10px;
   padding: 0px 20px;
   line-height:35px;
   color:#fff;
}

.menu li.logout a:hover{
   background: #B92D0E;
	border:none;
}

.menu li.active.yellow a{
	background:#50597b;
	border-bottom:5px solid #cc324b;
}

.menu li i img{
	margin-bottom:-10px;
	margin-right:10px;
}
.menu li a span.messages{
	position:absolute;
	top:13px;
	right:37px;
	font-size:1em;
	color:#FFF;
	background:#e64c65;
	padding: 1px 0px 3px 0px;
	width: 25px;
	height: 22px;
	border-radius:0.8em;
	-webkit-border-radius:0.8em;
	-moz-border-radius:0.8em;
	-o-border-radius:0.8em;
}
.toggleMenu {
    display:  none;
    background:#50597B;
    padding:10px 10px 5px 10px;
    border-radius:2em; 
    -webkit-border-radius:2em;
    -moz-border-radius:2em;
    -o-border-radius:2em; 
}
.toggleMenu:hover{
	background:#1F253D;
}

/*----------------------------------*/
.profile_details ul{
	margin-left:6px;
}
.profile_details li{
	float:left;
}
.profile_details li a{
	 color:#FFF;
	 font-size:1em;
     padding:17px 20px 16px 20px;
	 display: block;
	 text-align:center;
	 color:#FFF;
	 -webkit-transition: all 0.5s ease-in-out;
	 -moz-transition: all 0.5s ease-in-out;
	 -o-transition: all 0.5s ease-in-out;
	 transition: all 0.5s ease-in-out;
	 position:relative;
}
.profile_details li a:hover{
	background:#50597b;
	border-bottom:5px solid #cc324b;
}
.profile_details li.active a{
	background:#50597b;
	border-bottom:5px solid #cc324b;
}

/*----------------------------------*/

.nav:before,
.nav:after {
    content: " ";
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
}
.nav > li > a {
    display: block;
}







