/**
 * CSS styles for CLinkPager.
 *
 * @author Qiang Xue <qiang.xue@gmail.com>
 * @link http://www.yiiframework.com/
 * @copyright Copyright &copy; 2008-2010 Yii Software LLC
 * @license http://www.yiiframework.com/license/
 * @version $Id: pager.css 1678 2010-01-07 21:02:00Z qiang.xue $
 * @since 1.0
 */

ul.yiiPager
{
	margin-top: 30px;
	float: right;
	font-size:14px;
	border:0;
	padding:0;
	line-height:100%;
	display:block;
}

ul.yiiPager li
{
	display:inline;
}

ul.yiiPager a:link,
ul.yiiPager a:visited
{
	display: inline-block;
	margin-left: 16px;
	color:#666;
	text-decoration:none;
}

ul.yiiPager .page a
{
	font-weight:normal;
}

ul.yiiPager a:hover
{
	color: #fff;
}

ul.yiiPager .selected a
{
	color:#FFFFFF;
}

ul.yiiPager .hidden a
{
	color:#888888;
}

/**
 * Hide first and last buttons by default.
 */
ul.yiiPager .first,
ul.yiiPager .last
{
	display:none;
}

ul.yiiPager .next a { width: 7px; height: 10px; background: url("../images/page_arrow.png") no-repeat right top; }
ul.yiiPager .next a:hover { background: url("../images/page_arrow.png") no-repeat right bottom; }
ul.yiiPager .previous a { width: 7px; height: 10px; background: url("../images/page_arrow.png") no-repeat left top; }
ul.yiiPager .previous a:hover { background: url("../images/page_arrow.png") no-repeat left bottom; }
