body { background-color: #1a1a1a; font: 14px Arial; margin: 0;}

.left { float: left; }
.right { float: right; }
.clear {clear: both; }

.catalog-body { background: url("../images/catalog_bg.png"); padding: 70px 0; }
.features-body { background: #fff; border-bottom: 1px dotted #ccc }
.green-body { background: #9c3; padding: 15px 0; }
.news-body { background: #1A1A1A; padding: 20px 0 50px 0; }
.footer { background: #fff; color: #333; padding: 40px 0 0px 0; }

a {text-decoration: none;}


.catalog-content { width: 679px; background: url("../images/catalog_fx.png") 0px -130px no-repeat; color: #999; min-height: 400px; }
.catalog-content .catalog-article { color: #ccc; font: 14px arial; line-height: 1.4em;}
.catalog-content .catalog-article p {margin-top: 4px; margin-bottom: 20px; color: #ccc; font: 14px arial; line-height: 1.4em;}
.catalog-content .back-link, .main-news .back-link { color: #fff; display: block; font-size: 10px; padding: 5px 15px; background: #9c3; text-decoration: none; text-transform: uppercase; }
.catalog-content .brand-title { color: #999; font: 16px arial; }
.catalog-content .brand-title a{ color: #ccc; text-decoration: none; }
.catalog-content .brand-title a:hover{ color: #D0D0D0; text-decoration: underline;}
.catalog-content .categories .category { width: 306px; margin-bottom: 20px; }
.catalog-content .categories .category h3 { background-color: #95c11c; color: #fff; padding: 5px 15px; margin-bottom: 15px; font: 400 20px Arial; }
.catalog-content .categories .category .subcategory { padding-top: 10px; }
.catalog-content .categories .category .subcategory-list { margin: 2px 4px; width: 7px; height: 10px; background: url("../images/subcategory_list.png") no-repeat left top; }
.catalog-content .categories .category .subcategory:hover .subcategory-list { background: url("../images/subcategory_list.png") no-repeat left bottom; }
.catalog-content .categories .category .subcategory-title { border-bottom: 1px dotted #494949; width: 290px; padding-bottom: 10px; }
.catalog-content .categories .category .subcategory-title a { color: #b9b9b9; text-decoration: none;}
.catalog-content .categories .category .subcategory:hover .subcategory-title a { color: #95C11C; }
.catalog-content .categories .category.brands { width: 100%; }
.catalog-content .categories .category.brands .link { color: #a3a3a3; display: block; margin-top: 10px; padding-right: 10px; background: url("../images/all_brands.png") no-repeat right center; font-size: 12px; }
.catalog-content .categories .category.brands .subcategories { width: 163px; margin-left: 9px; }
.catalog-content .categories .category.brands .subcategories.first { margin-left: 0; }
.catalog-content .categories .category.brands .subcategory-title { width: 147px; border: none; padding-bottom: 5px; }
.catalog-content .description { color: #C0C0C0; font-size: 13px; line-height: 1.5em;}
.catalog-content .description p { padding-bottom: 15px; padding-top: 2px; }
.catalog-content .description a {color: #99cc66}
.catalog-content .description a:hover { color: #99cc66; opacity: 0.8;}
.catalog-content .filters { background: url("../images/filters_bg.png") repeat-x left top; margin-top: 30px; padding: 15px 28px 0; width: 623px; height: 127px; border: 1px solid #505050; }
.catalog-content .filters .title { text-transform: uppercase; font: 14px arial; color: #9c3; opacity: 1.0; margin: 0 0 10px; }
.catalog-content .filters .list .group { margin-right: 10px; width: 145px; }
.catalog-content .filters .list .group input[type="checkbox"] { display: inline-block; }
.catalog-content .filters .list .group label { display: inline-block; font-size: 12px; color: #ccc; width: 120px; height: 14px; overflow: hidden; margin: 3px 0 8px 2px;}
.catalog-content .gallery { margin: 30px 0 50px; }
.catalog-content .gallery .images .image { padding: 7px; background-color: #2b2b2b; border: 1px solid #737373; margin: 25px 15px 0 0; }
.catalog-content .gallery .images .image.last { margin-right: 0;}
.catalog-content .gallery .title { font: 16px arial; padding-bottom: 10px; border-bottom: 1px solid #333; color: #fff; text-transform: uppercase; }
.catalog-content .product-image {position: relative; width: 677px; height: auto;min-height: 350px; line-height: 396px; margin: 25px 0; background: rgba(0, 0, 0, 0.3); padding:0; text-align: center; overflow:hidden;}
.catalog-content .product-image img { vertical-align: middle; padding: 10px; border: 1px solid #303030; background: url(../images/bg_09.png);}
.catalog-content .others-title { color: #999; font: 16px arial; margin: 40px 0 15px; }
.catalog-content .partners { margin-top: 20px; }
.catalog-content .partners .partner { width: 146px; height: 146px; padding: 6px; border: 1px solid #737373; background-color: #2b2b2b; box-shadow: 0 0 5px rgba(0,0,0,0.5); -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5); -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5); margin: 12px 12px 0 0; }
.catalog-content .partners .partner.last { margin-right: 0; }
.catalog-content .products .item { margin-top: 45px; }
.catalog-content .products .item .info { width: 410px; color: #999; font-family: arial; }
.catalog-content .products .item .info h3 { margin: 0 0 5px; padding-bottom: 5px; border-bottom: 1px solid #666; }
.catalog-content .products .item .info h3 a { font: 400 21px arial; color: #fff; text-decoration: none; }
.catalog-content .products .item .info h3 a:hover { text-decoration: none; color: #ccc;}
.catalog-content .products .item .info .brand { color: #ccc; margin-bottom: 20px; }
.catalog-content .products .item .thumbnail { width: 200px; padding: 5px; border: 1px solid #666; background-color: #222; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
.catalog-content .resume-send { color: #fff; text-transform: uppercase; margin: 35px 0 10px; }
.catalog-content .vacancies-description { text-transform: uppercase; font: 14px arial; line-height: 1.5em; color: #fff; padding: 12px 20px; background: #9c3; box-shadow: 0 0 10px rgba(0,0,0,0.5); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); margin: 50px 0; }
.catalog-content .vacancies-list .vacancy { color: #999; padding-bottom: 17px; margin-bottom: 30px; margin-top: 20px; border-bottom: 1px dotted #9A9A9A;}
.catalog-content .vacancies-list .vacancy h3 a { color: #fff; font: 16px arial; text-decoration: none; text-transform: uppercase; }
.catalog-content .vacancies-list .vacancy .description {font-size: 13px; line-height: 1.5em; padding-left: 25px; margin: 20px 0; color: #999; }
.catalog-content .vacancies-list .vacancy .description p {margin:0px; padding: 0px; font: 14px arial; color: #BCBCBC;line-height: 1.5em; }
.catalog-content .vacancies-list .vacancy .link { color: #fff; display: block; font-size: 10px; padding: 5px 15px; background: #9c3; text-decoration: none; }
.catalog-content .vacancies-list .vacancy .list { padding-left: 25px; margin-top: 20px; }
.catalog-content .vacancies-list .vacancy .list .list-title { color: #9c3; text-transform: uppercase; }
.catalog-content .vacancies-list .vacancy .list .li { margin-top: 12px; }
.catalog-content .vacancies-list .vacancy form { color: #ccc; border: 1px solid #333; background-color: #252525; opacity: 1; padding: 20px; }
.catalog-content .vacancies-list .vacancy form input.captcha { width: 155px; }
.catalog-content .vacancies-list .vacancy form label { display: block; vertical-align: top; }
.catalog-content .vacancies-list .vacancy form span.required { color: #9c0; }
.catalog-content .vacancies-list .vacancy form .captcha-block { padding-left: 20px; }
.catalog-content .vacancies-list .vacancy form .captcha-block label { margin-bottom: 5px; font: 12px Arial; color: #666;}
.catalog-content .vacancies-list .vacancy form .captcha-button { color: #666; display: block; float: left; text-decoration: underline; font: 12px Arial; margin-right: 20px;}
.catalog-content .vacancies-list .vacancy input[type="submit"] { float: right; color: #fff; border: none; width: 103px; height: 28px; background-color: #9c3; text-transform: uppercase; font-size: 12px;}
.catalog-content .vacancies-list .vacancy input[type="text"], .catalog-content .vacancies-list .vacancy input[type="file"] { width: 440px; padding-left: 10px; height: 26px; border: none; }
.catalog-content .vacancies-list .vacancy table tr td { padding: 10px; }
.catalog-content .vacancies-list .vacancy textarea { width: 440px; height: 95px; border: none; padding: 5px;}
.catalog-content .title { padding-bottom: 8px; margin: 45px 0 10px; color: #fff; font: 14px arial; text-transform: uppercase; width: 100%; border-bottom: 1px solid #484848; }
.catalog-content h2, .news-body h2 { font: 24px arial; color: #fff; margin: 0 0 35px; }
.catalog-content p {margin-top: 4px; margin-bottom: 15px; color: #BCBCBC; font: 14px arial; line-height: 1.4em;}
.catalog-sidebar { width: 251px; }
.catalog-sidebar ul { margin: 0; padding: 0; margin-left: -1px; margin-top: 1px;}
.catalog-sidebar li { list-style: none; }
.catalog-sidebar .catalog-articles { margin-top: 50px; }
.catalog-sidebar .catalog-articles li a { display: block; height: 19px; border-bottom: 1px dotted #505050; color: #39f; text-decoration: none; font: 400 16px arial; padding: 9px; }
.catalog-sidebar .catalog-articles li.first a { border-top: 1px dotted #505050; }
.catalog-sidebar .catalog-articles li.active a, .catalog-sidebar .catalog-articles li a:hover { border-bottom: 1px dotted #202020; background-color: #000; color: #5af; }
.catalog-sidebar .catalog-articles li .right { width: 7px; height: 11px; margin-top: 4px; background: url("../images/category_arrows_articles.png") no-repeat left top; }
.catalog-sidebar .catalog-articles li.active .right, .catalog-sidebar .catalog-articles li a:hover .right { background: url("../images/category_arrows_articles.png") no-repeat left bottom; }
.catalog-sidebar .categories { margin-bottom: 15px; }
.catalog-sidebar .categories .category { position: relative; margin-bottom: 6px; }
.catalog-sidebar .categories .category .category-link { display: block; width: 221px; height: 28px; padding: 12px 9px 0px 20px; background: url("../images/category_inactive.png") no-repeat; background-position: 0px -1px; color: #fff; text-transform: uppercase; text-decoration: none; font: 14px Arial; }
.catalog-sidebar .categories .category img { position: absolute; right: 10px; top: 17px; z-index: 999; }
.catalog-sidebar .categories .category .cat_arr { position: absolute; right: 10px; top: 17px; z-index: 999; height: 6px; width: 11px;}
.catalog-sidebar .categories .category .cat_arr .arr_up {height: 6px; width: 11px; background: url("../images/cat_arrows.png") no-repeat; background-position: -22px 0px;  }
.catalog-sidebar .categories .category .cat_arr .arr_down_inactive {height: 6px; width: 11px; background: url("../images/cat_arrows.png") no-repeat; background-position: 0px 0px;  }
.catalog-sidebar .categories .category:hover .arr_down_inactive {background-position: -11px 0px; }
.catalog-sidebar .categories .category.active .category-link, .catalog-sidebar .categories .category .category-link:hover { background: url("../images/category_active.png") no-repeat;  background-position: -1px 0px; width: 220px; padding: 12px 10px 0px 20px; height: 28px; }
.catalog-sidebar .categories .category ul { position: relative; top: -2px; }
.catalog-sidebar .categories .category ul li a { margin-left: 1px; background: #fff; display: block; color: #333; text-decoration: none; width: 205px; padding: 15px 20px 15px 25px; border-top: 1px dotted #ccc; }
.catalog-sidebar .categories .category ul li a:hover { color: #9c3; }
.catalog-sidebar .categories .category ul li a.active { color: #9c3; }
.catalog-sidebar .categories .category ul li.first a { border: none; }
.footer .title { text-transform: uppercase; font-weight: 700; color: #9c0; margin-bottom: 10px; }
.footer-contacts { width: 320px; }
.footer-contacts p { margin: 0; }
.footer-contacts span { font-size: 18px; color: #000; }
.footer-logo { width: 110px; }
.footer-time { width: 330px; }
.footer-time .time { padding-left: 10px; font-weight: 700; }
.footer-scheme { width: 215px; }
.footer-scheme a { border: 1px solid #ccc; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; background: url("../images/pin.png") 35px 20px no-repeat; padding: 20px 30px 20px 60px; display: block; text-decoration: none; color: #333; text-transform: uppercase; }
.footer-scheme a:hover { color: #9c0; }
.frame { min-height: 750px; }
.header { background-color: #fff; min-height: 67px; }
.header-menu { max-width: 670px; padding-top: 15px; }
.header-menu li { display: inline; padding: 0 10px; }
.header-menu li.delimiter { font-size: 14px; color: #C0C0C0; }
.header-menu li a { color: #707070; text-decoration: none; }
.header-menu li a:hover { color: #444; }
.header-menu li a.active { font-weight: bold; color: #444;; }
.logo { position: relative; top: 7px; }
.main-about .image { border: 15px solid #fff; width: 305px; overflow: hidden; }
.main-about .text { width: 575px; }
.main-about .text .note { text-transform: uppercase; background: url("../images/mainabout_delimiter.png") top left repeat-x; width: 100%; margin-top: 15px; padding-top: 15px; font: 12px/18px Arial; color: #012602; }
.main-about .text .note p{ margin-top: 10px; margin-bottom: 18px; }
.main-about .text h1 { font: 36px Verdana; text-transform: uppercase; margin: 0; color: #fff; }
.main-about .text h2 { font: 28px Verdana; text-transform: uppercase; margin: 10px 0 5px; color: #fff; }
.main-features { padding: 20px 0; }
.main-features table { width: 100%; color: #666; }
.main-features table tr td { border-left: 1px solid #EAEAEA; padding: 0 10px; font-size: 12px; vertical-align: top; width: 25%; }
.main-features table tr td.first { border-left: none; padding-left: 0; padding-right: 10px; }
.main-features table tr td h3 { color: #000; margin: 5px 0 15px; font-size: 16px; }
.main-features table tr td h3 a { color: #000; }
.main-features table tr td h3 a:hover { color: #9c3; }
.main-features table tr td p { margin: 0 0 5px;}
.main-news .article { width: 100%; color: #fff; padding: 15px 0; }
.main-news .article, .main-news .delimiter { border-bottom: 1px dotted #5a5a5a; }
.main-news .article .day { background: #4ca5ff; font-size: 24px; font-weight: 700; text-align: center; width: 60px; height: 26px; padding-top: 4px; }
.main-news .article .month { background: #3399ff; text-transform: uppercase; font-size: 14px; text-align: center; width: 60px; height: 25px; padding-top: 5px; }
.main-news .article .article-content {font-weight: normal; width: 890px; height: 37px; color: #ccc; line-height: 1.5em; vertical-align: middle; padding-top: 11px; }
.main-news .article .article-content a {font-weight: normal;  color: #ccc; text-decoration: none; font-size: 14px; line-height: 1.5em; vertical-align: middle; }
.main-news .article .article-content a:hover {color: #ACACAC; }
.main-news .article.full { border: none; padding: 0;}
.main-news .article.full .article-content { height: auto; padding-top: 0; }
.main-news .gallery { margin: 30px 0 50px; }
.main-news .gallery .images .image { padding: 7px; background-color: #2b2b2b; border: 1px solid #737373; margin: 25px 20px 0 0; }
/*.main-news .gallery .images .image:hover { background-color: #919191; }*/
.main-news .gallery .images .image.last { margin-right: 0;}
.main-news .gallery .title { font: 16px arial; padding-bottom: 10px; border-bottom: 1px solid #333; color: #fff; text-transform: uppercase; margin-bottom: 0; }
.main-news .title { color: #fff; text-decoration: none; display: block; margin: 20px 0; font: 24px arial; }
.main-news.fx { background: url("../images/news_fx.png") no-repeat center -130px; min-height: 600px; margin-top: 10px;}
.nivo-caption .left .list { font-size: 12px; line-height: 1.3em; display: block; background: url("../images/ban_list.png") 10px 10px no-repeat; text-shadow: 0px 1px 0px #AFE02E; padding: 5px 10px 5px 30px; width: 160px; color: #000; text-decoration: none; }
.nivo-caption .left .list:hover { background-image: url("../images/ban_list_green.png"); color: #43570D;  }
.page-wrap {  }
.slider-wrap { padding: 60px 0 70px; margin: 0 auto; width: 975px; }
.slider-wrapper table { width: 100%; position: absolute; bottom: 0; height: 40px; color: #fff;z-index: 999; }
.slider-wrapper table tr td { text-align: center; cursor: pointer; background: #212121; opacity: 0.8; line-height: 13px; }
.slider-wrapper table tr td:hover { background: #101010; }
.slider-wrapper table tr td.active { background: #9c3; }
.triangle-link { position: relative; top: 1px; }
.wrap { width: 975px; margin: 0 auto; }
.zont-zont { border-top: 1px dotted #7f7f7f; color: #000; font-style: italic; margin-top: 30px; height: 30px; line-height: 30px;}
.zont-zont a { font-weight: 700; text-decoration: none; color: #000; }
.jcarousel a:hover{opacity:0.8;}
.jcarousel .jcar_div:hover{opacity:0.8;}
.jcarousel2 a:hover{opacity:0.8;}
.thumbnail a:hover{opacity:0.8;}
.gallery a:hover{opacity:0.8;}

