











/*comment_form*/
.comments_formContainer{width:100%; background:#FAFAFA; border-top: 1px solid #ccc; position:absolute; bottom:0px; left:0px;}
.comments_formContainer_in{padding:20px;}
.textarea_placement_photo{display:block;}
.textarea_placement_textarea_block{height:auto; padding:15px; padding-left:27px; padding-bottom:5px; border: 1px solid #e7e8ec; background: #fff; border-radius:2px 2px 0px 0px; position:relative; margin:0px;}
.comment_text{font-size:14px; line-height:1.3em;}
.main_commentbox{height: 40px; max-height:300px; width:100%; margin:0px; background: #fff; border: none; outline:none; color: #000; font-family:Open Sans,Arial,Helvetica Neue,sans-serif; font-size:12px; border:none;}
.chat_mobile_button{display:none;}
.chat_pc_button{display:block;}



.chat_item{padding-bottom:10px;}
