

.msgs_content{width:auto; height:500px; overflow:hidden; overflow-y:scroll; padding:0px 15px; padding-top:50px;}
.msgs_box{width:100%; height:auto; min-height:500px;}



/*comment_form*/
.comments_formContainer{width:300px; box-shadow:0px 0px 15px rgba(0,0,0,.15); border-radius:7px; background:#FFFFFF; position:absolute; bottom:15px; left:15px;}
.comments_formContainer_in{padding:10px 10px;}
.textarea_placement_photo{display:none;}
.textarea_placement_textarea_block{padding:0px; padding-left:0px; padding-bottom:0px; border: none; background: none; border-radius:0; position:relative; margin:0px;}
.comment_text{}
.main_commentbox{height:40px; max-height:300px; width:100%; margin:0px; background:none; border: none; outline:none; color: #000; font-size:14px; line-height:1.3em; border:none;}
.chat_mobile_button{display:table-cell;}
.chat_pc_button{display:none;}
.mobile_comments_submited{display:none;}




.chat_item_photo{display:none;}
.chat_item{background:#fff; border:1px solid #e8e8e8; margin-bottom:10px; border-radius:7px; float:left; max-width:90%; padding:0px;}
.chat_item.mine{float:right;}
.chat_item_in{padding:7px;}






