ul.pager{
    list-style:none;
    padding:0px; margin:0px;
    font-size:12px;
}
li.page{
    float:left;
    margin:0px 2px;

}
li.page a{
padding:4px 6px;
border:1px solid #ccc;
border-radius:3px;
background:#fff;
color:#222;
}

li.page a:hover{
background:#F3F3F3; text-decoration:none;
}

li.page.selected a{
background:#00CC33;
color:#fff;  border:none; padding:5px 6px;
}

li.next, li.last{
    float:left;
}

li.next a{
padding:4px 6px;
border:1px solid #ccc;
border-radius:3px;
background:#fff;
color:#222;
}

li.last a{
padding:4px 6px;
border:1px solid #ccc;
border-radius:3px;
background:#fff;
color:#222;
}



li.first, li.previous{
    float:left;
}

li.first a{
padding:4px 6px;
border:1px solid #ccc;
border-radius:3px;
background:#fff;
color:#222;
}

li.previous a{
padding:4px 6px;
border:1px solid #ccc;
border-radius:3px;
background:#fff;
color:#222;
}
