    .redactor-styles{margin:0;color:#333;font-size:1em;line-height:1.5;box-sizing:border-box;}
    .redactor-styles *,.redactor-styles :after,.redactor-styles :before{box-sizing:inherit}
    .redactor-styles[dir=rtl]{direction:rtl;unicode-bidi:embed}
    .redactor-styles[dir=rtl] ol li,.redactor-styles[dir=rtl] ul li{text-align:right}
    .redactor-styles[dir=rtl] ol,.redactor-styles[dir=rtl] ol ol,.redactor-styles[dir=rtl] ol ul,.redactor-styles[dir=rtl] ul,.redactor-styles[dir=rtl] ul ol,.redactor-styles[dir=rtl] ul ul{margin:0 1.5em 0 0}
    .redactor-styles[dir=rtl] figcaption{text-align:right}
    .redactor-styles ol[dir=rtl],.redactor-styles ol[dir=rtl] ol,.redactor-styles ol[dir=rtl] ul,.redactor-styles ul[dir=rtl],.redactor-styles ul[dir=rtl] ol,.redactor-styles ul[dir=rtl] ul{margin:0 1.5em 0 0}
    .redactor-styles ol[dir=rtl] li,.redactor-styles ul[dir=rtl] li{text-align:right}
    .redactor-styles a,.redactor-styles a:hover{color:#3397ff}
    .redactor-styles address,.redactor-styles blockquote,.redactor-styles dl,.redactor-styles figure,.redactor-styles hr,.redactor-styles p,.redactor-styles pre,.redactor-styles table{padding:0;margin:0;margin-bottom:1em}
    .redactor-styles ol,.redactor-styles ul{padding:0}
    .redactor-styles ol,.redactor-styles ol ol,.redactor-styles ol ul,.redactor-styles ul,.redactor-styles ul ol,.redactor-styles ul ul{margin:0 0 0 1.5em}
    .redactor-styles ol li,.redactor-styles ul li{text-align:left}
    .redactor-styles ol ol li{list-style-type:lower-alpha}
    .redactor-styles ol ol ol li{list-style-type:lower-roman}
    .redactor-styles ol,.redactor-styles ul{margin-bottom:1em}
    .redactor-styles h1,.redactor-styles h2,.redactor-styles h3,.redactor-styles h4,.redactor-styles h5,.redactor-styles h6{font-weight:700;color:#111;text-rendering:optimizeLegibility;margin:0;padding:0;margin-bottom:.5em;line-height:1.2}
    .redactor-styles h1{font-size:2.0736em}
    .redactor-styles h2{font-size:1.728em}
    .redactor-styles h3{font-size:1.44em}
    .redactor-styles h4{font-size:1.2em}
    .redactor-styles h5{font-size:1em}
    .redactor-styles h6{font-size:.83333em;text-transform:uppercase;letter-spacing:.035em}
    .redactor-styles blockquote{font-style:italic;color:rgba(0,0,0,.5);border:none}
    .redactor-styles table{width:100%}
    .redactor-styles code,.redactor-styles kbd,.redactor-styles mark,.redactor-styles small,.redactor-styles time,.redactor-styles var{display:inline-block;font-family:Consolas,Menlo,Monaco,"Courier New",monospace;font-size:87.5%;line-height:1;color:rgba(51,51,51,.9)}
    .redactor-styles cite,.redactor-styles var{opacity:.6}
    .redactor-styles var{font-style:normal}
    .redactor-styles abbr,.redactor-styles dfn{text-transform:uppercase}
    .redactor-styles abbr[title],.redactor-styles dfn[title]{text-decoration:none;border-bottom:1px dotted rgba(0,0,0,.5);cursor:help}
    .redactor-styles code,.redactor-styles kbd{position:relative;top:-1px;padding:.25em;padding-bottom:.2em;border-radius:2px}
    .redactor-styles code{background-color:#eff1f2}
    .redactor-styles mark{border-radius:2px;padding:.125em .25em;background-color:#fdb833}
    .redactor-styles kbd{border:1px solid #e5e7e9}
    .redactor-styles sub,.redactor-styles sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
    .redactor-styles sub{bottom:-.25em}
    .redactor-styles sup{top:-.5em}
    .redactor-styles pre{font-family:Consolas,Menlo,Monaco,"Courier New",monospace;font-size:.9em}
    .redactor-styles pre,.redactor-styles pre code{background-color:#f6f7f8;padding:0;top:0;display:block;line-height:1.5;color:rgba(51,51,51,.85);overflow:none;white-space:pre-wrap}
    .redactor-styles pre{padding:1rem}
    .redactor-styles table{border-collapse:collapse;max-width:100%;width:100%;    background:#fff; box-shadow:0px 0px 4px rgba(0,0,0,.1);}
    .redactor-styles table caption{text-transform:uppercase;padding:0;color:rgba(0,0,0,.5);font-size:11px}
    .redactor-styles table td,.redactor-styles table th{border:1px solid #eee;padding:16px;padding-bottom:15px}
    .redactor-styles table tfoot td,.redactor-styles table tfoot th{color:rgba(0,0,0,.5)}
    .redactor-styles audio,.redactor-styles embed,.redactor-styles img,.redactor-styles object,.redactor-styles video{max-width:100%}
    .redactor-styles embed,.redactor-styles img,.redactor-styles object,.redactor-styles video{height:auto!important}
    .redactor-styles img{vertical-align:middle;-ms-interpolation-mode:bicubic}
    .redactor-styles figcaption{display:block;opacity:.6;font-size:12px;font-style:italic;text-align:left}
    .redactor-styles img{cursor:zoom-in;}    