ul.pager{
    list-style:none;
    padding:0px; margin:0px;
    font-size:14px;
}
li.page{
display:inline-block;
    margin:0px 1px;

}
li.page a{
padding:8px 10px;
border:1px solid #ccc;
border-radius:3px;
background:#fff;
color:#222;
}

li.page a:hover{
background:#F3F3F3; text-decoration:none;
}

li.page.selected a{
background:#53952A;
color:#fff;  border:none;
padding:9px 11px;
}

li.next, li.last{
        display:inline-block;
    margin:0px 1px;
}

li.next a{
padding:8px 10px;
border:1px solid #ccc;
border-radius:3px;
background:#fff;
color:#222;
}

li.last a{
padding:8px 10px;
border:1px solid #ccc;
border-radius:3px;
background:#fff;
color:#222;
}



li.first, li.previous{
    display:inline-block;
    margin:0px 1px;
}

li.first a{
padding:8px 10px;
border:1px solid #ccc;
border-radius:3px;
background:#fff;
color:#222;
}

li.previous a{
padding:8px 10px;
border:1px solid #ccc;
border-radius:3px;
background:#fff;
color:#222;
}

@media screen and (max-width:800px)
{


ul.pager{
    list-style:none;
    padding:0px; margin:0px;
    font-size:12px;
}

li.page{
display:inline-block;
    margin:0px 1px;

}

li.page a{
padding:6px 6px;
border:1px solid #ccc;
border-radius:3px;
background:#fff;
color:#222;
}

li.page a:hover{
background:#F3F3F3; text-decoration:none;
}

li.page.selected a{
background:#53952A;
color:#fff;  border:none;
padding:7px 7px;
}

li.next, li.last{
        display:inline-block;
    margin:0px 1px;
}

li.next a{
padding:6px 6px;
border:1px solid #ccc;
border-radius:3px;
background:#fff;
color:#222;
}

li.last a{
padding:6px 6px;
border:1px solid #ccc;
border-radius:3px;
background:#fff;
color:#222;
}



li.first, li.previous{
    display:inline-block;
    margin:0px 1px;
}

li.first a{
padding:6px 6px;
border:1px solid #ccc;
border-radius:3px;
background:#fff;
color:#222;
}

li.previous a{
padding:6px 6px;
border:1px solid #ccc;
border-radius:3px;
background:#fff;
color:#222;
}




}
