---------------------------------------------------------------------------------
/* 1. CSS Reset
-------------------------------------------------------------------------------*/
html{
 height:100%;
 }
* {
	padding:0;
	margin:0;
}
body {
	color:#606060;
	font-family: Verdana, Tahoma, Arial;
    font-weight:400;
	background:#fff;
    width:100%;
    height:100%;
	font-size:16px;
	min-width:1300px;
}
a {
	text-decoration:none;
	color:#000;
	outline:none;
}

.mobile_top_menu{
    display:none;
}
.menu_site{
    display:block;
}

.container{
max-width: 1400px;
}

.C-01{width:100%; min-width:1300px; background:rgba(253, 253, 253, 1);}
.C-02{width: 1200px; margin:0px auto;  padding-top:90px; padding-bottom:90px;}
.main_container{width: 850px; float:right; min-height:300px;}
.main_container_left{width: 850px; float:left;  min-height:300px;}
.layouts_mobile_bottom_blocks{display:none;}

/* ---------------------------------------------------------------------------------
1. ЛЕВОЕ МЕНЮ РАЗДЕЛОВ
-------------------------------------------------------------------------------*/
.main_right{width: 300px; margin-top:0px; float:left; border-radius:5px;}
.main_right_submenu{width: 300px; margin-top:0px; float:left; border-radius:5px;}
.submenu{padding-top:11px; padding-bottom:11px; display:block;  font-size:14px;}
.submenu:hover{color:#53952A;}
.submenu.active{font-weight:bold;  color:#53952A;}
.submenu_li{border-bottom:1px dotted #ccc;}
.submenu_ul{padding:0px;margin:0px;list-style:none;  padding-top:20px;}
.submenu_ul :last-child{border-bottom:none;}
.layouts_submenu_block{background:#F5F7F9; border-radius:5px;}
.layouts_submenu_padding{padding:40px; padding-top:40px;}
.layouts_submenu_title{font-size:22px; font-weight:600; text-transform:uppercase; color:#303030;text-align:left;}

/* ---------------------------------------------------------------------------------
1. НОВОСТИ
-------------------------------------------------------------------------------*/
.news_item_photo{display:block; width:200px; height:auto; min-height:10px; float:left; border-radius:5px; margin-right:40px;}
.news_item_description{ width:600px; float:left;}
.news_item_title{font-size:17px; font-weight:600; line-height:1.2em; text-transform:uppercase;}
.news_item_date{padding-top:15px; color:#53952A;}
.news_item_shorttext{padding-top: 15px; font-size:14px;;}

.news_view_photo{display:block; width:200px; height:auto; min-height:10px;  float:left; border-radius:5px; margin-right:30px; }
.news_view_description{width:600px; float:left; margin-top:-10px;}
.news_view_title{font-size:25px; line-height:1.2em;}
.news_view_date{padding-top:20px; color:#53952A;}
.news_view_text{padding-top: 30px;}


/* ---------------------------------------------------------------------------------
1. PAGES
-------------------------------------------------------------------------------*/
.pages_view_title{font-size:33px; font-weight:600;  text-align:left; margin-top:10px;text-transform:uppercase;}
.pages_view_text{padding-top: 30px;}
.documents_title{font-size:24px; padding-bottom:20px; text-transform:uppercase;}
.documents_item_icon{width:60px;}


/* ---------------------------------------------------------------------------------
1. CONTACTS
-------------------------------------------------------------------------------*/
.contacts_left_block{width:450px; float:left;}
.contacts_right_block{width:704px; height:500px; margin-bottom:30px; background:#E0F3CD; float:right;}
.contacts_description{margin-top:40px; width:900px;}


/* ---------------------------------------------------------------------------------
1. ГЛАВНАЯ
-------------------------------------------------------------------------------*/

/*BANNER*/
.home_banner_block{width:100%; height:500px; }
.home_banner_block #block-for-slider {width: 100%;height:500px;margin:0px auto;overflow:hidden;position:relative;}
.home_banner_block .slide{position:absolute;top:0px; left:110%;height:500px;width:100%;}
.home_banner_block .slide.active{left:0px;}
.home_banner_block #nav-btns{width:100%; height:auto; position:absolute; bottom:10px; left:0px; text-align:center;}
.home_banner_block .slide-nav-btn{width:10px; height:10px; border-radius:50%; background:#fff; border:1px solid #ccc; display:inline-block; margin-left:1px; margin-right:1px; cursor:pointer;}
.home_banner_block .slide-nav-btn:hover{background:#D9D9D9;}
.home_banner_block .slide-nav-btn.active{background:#ccc;}

/*BANNER text*/
.home_banner_block .slide_a{width:100%; height:500px; display:block; position:relative; border-radius:5px;}
.home_banner_block .slide-img{width:100%; height:450px; border-radius:5px; position:relative;}
.home_banner_block .slide-bg{width:100%; height:100%; background:rgba(0,0,0,0.4);}
.home_banner_block .slide-width{width:1200px; margin:0px auto; height:100%; position:relative;}
.home_banner_block .slide-text-size{position:absolute; bottom:140px; left:0px; padding:0px; width:450px;}
.home_banner_block .slide-text-height{margin-top:5px; height:130px; border-radius:5px; opacity:1;}
.home_banner_block .slide-text-flag{font-size:16px; color:#fff; }
.home_banner_block .slide-text-flag-2{background:#fff; color:#222; font-size:14px; padding:6px 12px; border-radius:3px;}
.home_banner_block .slide-text-title{font-size:18px; color:#fff; padding-top:30px; text-shadow:1px 1px 0px rgba(0,0,0,0.7);}
.home_banner_block .slide-text-description{display:block;}

/*home_todo_block*/
.home_todo_block{ margin-top:50px; }
.home_todo_title{ padding-bottom:5px; text-transform:uppercase; font-size:16px; padding-left:0px;}
.home_todo_a{display:block; border-radius:4px; width:143px; height:130px;  float:left; background:#FEFEFE; border:1px solid #A8A8A8;  margin-bottom:10px;}
.home_todo_padding{padding:17px;}
.home_todo_title{font-size:13px; text-transform:uppercase; font-weight:600; line-height:1.6em; color:#707070}
.home_todo_iscroll{ width:100%; height:auto; overflow:visible;  }
.home_todo_iscroll_in{height:auto; margin-top:0px;}

/*главная левый блок*/
.home_big_left{ width: 850px; margin-top:45px; float:left; margin-right:50px; }

/*главная правый блок*/
.home_big_right{width: 300px; margin-top:50px; float:right;}
.home_bigright_partners{margin-top:50px;}
.home_bigright_title{padding-bottom:5px; text-transform:uppercase; font-size:16px;}


/*главная новости*/
.home_newsitem_block{ padding-bottom:20px; border-top:1px dotted #ccc; padding-top:20px; }
.home_newsblock_table{padding-bottom:10px;}
.home_newsblock_title{ text-transform:uppercase; font-size:16px; padding-left:0px;}
.home_newsblock_link{ text-transform:uppercase; font-size:16px; font-weight:200;}
.home_newsitem_photo{display:block; width:200px; height:150px; float:left; border-radius:3px;  margin-right:40px;}
.home_newsitem_description{width:610px; float:left;  margin-top:-4px;}
.home_newsitem_title{font-size:17px; font-weight:600; text-transform:uppercase; padding-top:0px;}
.home_newsitem_mobiledate{display:none;}
.home_newsitem_date{color:#53952A; font-size:13px;padding-top:8px;}
.home_newsitem_text{padding-top: 10px;}
.home_newsitem_text2{font-size:16px; font-weight:200; line-height:1.6em;}


/*главная экспозиции*/
.home_expo_block{ width: 850px; margin-top:50px;}
.home_expo_table{width:850px; padding-bottom:10px; border-bottom:1px dotted #ccc; margin-bottom:20px;}
.home_expo_title{text-transform:uppercase; font-size:16px; padding-left:0px;}
.home_expo_link{ text-transform:uppercase; font-size:16px; font-weight:200;}

.home_expoitem_padding{ padding:20px; text-align:center; }
.home_expoitem_block{margin-bottom:11px; width:204px; height:306px; border-radius:4px; float:left; }
.home_expoitem_title{font-size:16px; color:#fff; text-transform:uppercase; font-weight:500; word-wrap:break-word;}

/*home_raspisanie_block*/
.home_raspisanie_block


/*layouts infoblocks*/
.layouts_infoblocks_iscroll{width:300px; padding-top:30px;}
.layouts_infoblocks_iscroll_in{height:auto; margin-top:0px; width:auto;}
.layouts_infoblock_item{ width:300px; display:block; background:#F2F2F2; border-radius:5px; margin-bottom:20px;}
.layouts_infoblock_padding{padding:30px; padding-top:30px;}
.layouts_infoblock_title{font-size:16px; color:#fff;}
.layouts_infoblock_titleBg{background:#53952A; color:#fff; padding:6px 15px; border-radius:4px;}
.layouts_infoblock_description{font-size:15px; padding-top:30px; color:#808080; line-height:1.4em;}


/*layouts partners*/
.layouts_partners_iscroll{width:auto; height:auto; overflow:none; }
.layouts_partners_iscroll_in{width:auto; height:auto; overflow:none;}
.layouts_partners_item{border:1px solid #ccc; display:block; width:300px; height:150px; margin-bottom:5px;}

.footer{display:block;}
.footer_mobile{display:none;}


/* ---------------------------------------------------------------------------------
1. ПАРТНЕРЫ
-------------------------------------------------------------------------------*/
.partners_padding_top{ padding-top:50px; }
.partners_item_block{ padding-bottom:20px; margin-bottom:20px; color:#000; }
.partners_item_photo{display:block; width:200px; height:100px; float:left;  border-radius:2px;}
.partners_item_description{width: 580px; float:left; padding-left:40px;}
.partners_item_title{font-size:16px; color:#000; text-decoration:none;}
.partners_item_text{font-size:14px; line-height:1.3em; padding-top:10px;}

.partners_custodiand_title{ font-size:20px; border-bottom:1px dotted #ccc; padding-bottom:20px; margin-top:70px; margin-bottom:20px; }
.custodians_item_description{width: 400px; float:left; padding-left:40px;}
.custodians_item_animal_block{padding-top:0px;  margin-top:15px;}
.custodians_item_animal_name{font-size:14px; color:#53952A;}
.custodians_item_animal_photo{width:100px; height:100px; display:block; box-shadow:0px 0px 5px rgba(0,0,0,.1); float:right;}


/* ---------------------------------------------------------------------------------
1. AFISHA
-------------------------------------------------------------------------------*/
.afisha_block{ padding-top:50px; }


/* ---------------------------------------------------------------------------------
1. AFISHA FORM
-------------------------------------------------------------------------------*/
.ocenka_preview{ width:100%; background:#fff; border-radius:5px; box-shadow:0px 0px 5px rgba(0,0,0,.1); margin-bottom:20px;}
.form_padding{padding:30px 20px;}
.form_photo{display:block;}
.form_description{width:300px; float:left;}
.form_title{font-size:30px; font-weight:500;}
.form_text{font-size:16px; font-weight:200; padding-top:20px;}
.form_button{cursor:pointer; width:150px; height:40px; border-radius:4px; margin-top:20px; color:#fff; line-height:40px; font-size:14px; text-align:center;}
.work_form{ padding:70px; }
.form_long_description{ width:500px; float:left; }
.form_confa_description{width:400px; float:left; }
.Yarmarka_preview{ margin-bottom:20px; }


/* ---------------------------------------------------------------------------------
1. confa
-------------------------------------------------------------------------------*/
.opros_block{ width:100%; margin:0px auto; background:#fff; border:1px solid #ccc; background:#F2F2F2; border-radius:6px; padding-top:60px; padding-bottom:80px; }
.opros_block_in{width:600px; margin:0px auto;}

.opros_block .description{display:none; margin-top:20px;}
.opros_block .question_button{padding:10px 15px; background:#FFFFFF; text-align:left; cursor:pointer; width:568px; }
.opros_block .question_button:hover{background:rgba(250, 250, 250, 1); }
.opros_block .question_button.checked{background:rgba(250, 250, 250, 1); }
.opros_block .question_title{ font-size:30px; padding-bottom:15px; font-weight:400; text-align:center; }

.opros_block .next{cursor:pointer; width:150px; height:40px; border-radius:4px; color:#fff; line-height:40px; font-size:14px; text-align:center; background:#007BFF; margin:0px auto; margin-top:20px;}
.opros_block .next:hover{background:#0076F5;}

.opros_block .question .right{width:100%;height:100%; background:rgba(102, 204, 51, 0.7); display:none;  z-index:888; position:absolute; top:0px; left:0px; border-radius:5px;}
.opros_block .question .wrong{width:100%;height:100%; background:rgba(204, 0, 0, 0.7); display:none; z-index:888; position:absolute; top:0px; left:0px; border-radius:5px;}

.opros_block .description_image{ width:600px; height:300px; border-radius:5px; position:relative; margin-bottom:20px; }
.opros_block .right_image{ width:138px; height:135px; background:url(/css_tool/success.png) center; background-size:cover; position:absolute; top:50%; left:50%; margin-top:-60px; margin-left:-70px; }
.opros_block .wrong_image{ width:70px; height:70px; background:url(/css_tool/cross_white.png) center no-repeat;  position:absolute; top:50%; left:50%; margin-top:-35px; margin-left:-35px; border-radius:50%; border:3px solid #fff;}

.opros_block .fail_form{ width:600px; background:#fff; border-radius:5px; box-shadow:0px 0px 5px rgba(0,0,0,.1); margin-bottom:20px; }
.opros_block .fail_form_in{padding:70px; padding-bottom:100px; }
.opros_block .fail_form_photo{width:200px; height:147px; background:url(/css_tool/asset.png) center; background-size:cover; margin:0px auto; }
.opros_block .fail_form_title_block{width:400px; margin:0px auto;  text-align:center; }
.opros_block .fail_form_title{font-size:36px; font-weight:200; padding-top:15px;}
.opros_block .fail_form_description{font-size:19px; line-height:1.5em; font-weight:200; padding-top:15px;}

.opros_block .success_form{display:block; width:600px; margin:0px auto; background:#fff; border-radius:5px; box-shadow:0px 0px 5px rgba(0,0,0,.1); margin-bottom:20px;}
.opros_block .success_form_in{padding:70px;}
.opros_block .success_form_photo{width:200px; height:147px; background:url(/css_tool/asset.png) center; background-size:cover; margin:0px auto;}
.opros_block .success_form_title_block{width:400px; margin:0px auto; text-align:center;}
.opros_block .success_form_title{font-size:36px; font-weight:200;}
.opros_block .success_form_description{font-size:17px; line-height:1.5em; font-weight:200; padding-top:15px;}

.opros_block .ocenka_thnx{display:none; width:600px; background:#fff; border-radius:5px; box-shadow:0px 0px 5px rgba(0,0,0,.1); margin-bottom:20px;}
.opros_block .ocenka_thnx_in{padding:70px; padding-bottom:100px;}
.opros_block .ocenka_thnx_photo{width:200px; height:147px; background:url(/css_tool/asset.png) center; background-size:cover; margin:0px auto;}
.opros_block .ocenka_thnx_title_block{width:400px; margin:0px auto;  text-align:center;}
.opros_block .ocenka_thnx_title{font-size:36px; font-weight:200; padding-top:15px;}
.opros_block .ocenka_thnx_description{font-size:17px; line-height:1.5em; font-weight:200; padding-top:15px;}


/* ---------------------------------------------------------------------------------
1. exposure
-------------------------------------------------------------------------------*/
.expo_pr_block{ padding-bottom:30px; }
.expo_pr_photo_block{width:250px; height:auto;min-height:50px; float:left; }
.expo_pr_photo{width:250px; height:auto; min-height:50px;}
.expo_pr_photo_img{width:250px; height:auto;min-height:50px; border-radius:5px;}
.expo_pr_photo_info{display:block;}
.expo_pr_description{width: 550px; float:left; padding-left:40px;}
.expo_pr_title{font-size:28px; text-transform:uppercase; margin-top:-5px;}
.expo_pr_subtitle{padding-top:15px; font-size:16px; font-weight:400; color:#53952A;}
.expo_pr_shortext{font-size:16px; line-height:1.5em; padding-top:20px; color:#909090;}
.expo_pr_text{font-size:16px; line-height:1.5em; padding-top:20px; color:#909090;}
.expo_pr_somephotos_block{margin-top:35px;}
.expo_pr_photos_more{width:80px; height:80px; display:block; float:left; border-radius:5px; background:#f0f0f0; line-height:80px; text-align:center; font-size:22px;}
.expo_pr_photos_item{width:80px; height:80px; display:block; float:left; border-radius:5px; margin-right:12px;}

.expo_type_title{margin-top:10px; padding-bottom:40px; border-top:1px dotted #ccc;}
.expo_animal_item{display:block; margin-bottom:30px; width:370px; height:120px; border-radius:4px;}
.expo_animal_item.animal_left{float:left;}
.expo_animal_item.animal_right{float:right;}
.expo_animal_photo{width:80px; height:80px; border-radius:5px; float:left; margin-right:30px;}
.expo_animal_description{width:260px; float:left;}
.expo_animal_type{padding-top:0px; padding-bottom:10px;  text-transform:uppercase; font-size:11px; text-transform:upperacase;}
.expo_animal_title{font-size:16px;}


/* ---------------------------------------------------------------------------------
1. animal
-------------------------------------------------------------------------------*/
.animal_photo_block{ border-radius:5px; position:relative;width:830px; height:auto; min-height:200px;}
.animal_photo_block_img{width:830px; border-radius:5px; z-index:111;}
.animal_photo_bg{border-radius:5px; width:100%; height:100%; background-image: linear-gradient(-180deg, rgba(0,0,0,0) 38%, rgba(0,0,0,0.65) 79%); position:absolute; z-index:777; top:0px; left:0px;}
.animal_photo_bg_relative{border-radius:5px; width:100%; height:100%; position:relative;}
.animal_photo_absolute{position:absolute; bottom:30px; left:40px; width:790px; height:auto; color:#fff;}
.animal_title{font-size:30px; line-height:1.2em; font-weight:600; text-transform:uppercase;}
.animal_redbook_icon{float:left; width:60px; margin-right:0px; margin-top:10px;}
.animal_redbook_icon_img{height:45px;}
.animal_opeka_icon{float:left; width:60px; margin-right:10px; margin-top:15px;}
.animal_opeka_icon_img{height:30px;}
.animal_photos_more{width:129px; height:128px; display:block; float:left; border-radius:5px; background:#f0f0f0; line-height:128px; text-align:center; font-size:22px; text-decoration:none;}
.animal_photo_item{width:128px; height:128px; display:block; float:left; border-radius:5px; margin-right:12px;}
.animal_description{padding-top: 40px;}

.animal_custodian{color:#000; background:#F0F0F0; margin-top:50px; border-radius:5px;}
.animal_custodian_in{padding:20px;}
.animal_custodian_photo{display:block; width:200px; height:100px; float:left;}
.animal_custodian_description{width: 500px; float:left; padding-left:40px;}
.animal_custodian_title{font-size:16px;color:#000;}
.animal_custodian_text{font-size:14px; line-height:1.3em; padding-top:15px;}

.animal_news{margin-top:70px;}
.animal_news_title{font-size:16px; font-weight:600; text-transform:uppercase;}


.animal_newsitem_block{ padding-bottom:20px; border-top:1px dotted #ccc; padding-top:20px; }
.animal_newsitem_block.border_one{ padding-top:20px; border-top:1px dotted #ccc; margin-top:5px; }
.animal_newsitem_block.border_two{padding-top:20px; border-top:1px dotted #ccc; margin-top:20px;;}
.animal_newsblock_table{padding-bottom:10px;}
.animal_newsblock_title{ text-transform:uppercase; font-size:16px; padding-left:0px;}
.animal_newsblock_link{ text-transform:uppercase; font-size:16px; font-weight:200;}
.animal_newsitem_photo{display:block; width:200px; height:150px; float:left; border-radius:3px;  margin-right:40px;}
.animal_newsitem_description{width:590px; float:left;  margin-top:-4px;}
.animal_newsitem_title{font-size:17px; font-weight:600; text-transform:uppercase; padding-top:0px;}
.animal_newsitem_mobiledate{display:none;}
.animal_newsitem_date{color:#53952A; font-size:13px;padding-top:8px;}
.animal_newsitem_text{padding-top: 10px;}
.animal_newsitem_text2{font-size:14px; font-weight:200; line-height:1.6em;}



/* ---------------------------------------------------------------------------------
1. photos
-------------------------------------------------------------------------------*/
.photo_under_text{ width:115px; height:80px; display:block; float:left; margin-right:2px; margin-bottom:2px; }




/*---------------------------------------------------------------------------------
      FANCYBOX
-----------------------------------------------------------------------------------*/
.fancybox-media{ opacity:1; }
.fancybox-media:hover{ opacity:0.8; }

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

.fancybox-close {
	background-image: url('fancy_close.png');
    background-size:cover;
}

#fancybox-loading, .fancybox-prev span, .fancybox-next span {
	background-image: url('fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: 20px;
	right: -50px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	z-index: 8060;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('fancybox_overlay.png');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	text-shadow: none;
	z-index: 8050;
	position:absolute;
    width:30px;
    right:-50px;
    top: 70px;
	height:30px%;
	padding:0px;
    background:url(/css_tool/download.png) center;
    background-size:cover;

}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 0px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}


/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

   .fancybox-close {
		background-image: url('fancy-close.png');
		background-size: cover; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading, .fancybox-prev span, .fancybox-next span {
		background-image: url('fancybox_sprite@2x.png');
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div {
		background-image: url('fancybox_loading@2x.gif');
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}





