@media screen and (max-width:800px) {
html, body{
 height:100%;
 width:100%;
min-width:100px;
}

/* ---------------------------------------------------------------------------------
1. Меню
-------------------------------------------------------------------------------*/
.mobile_top_menu{display:block;}
.menu_site{display:none;}
#scrolltotop{display:none;}
.mobile_menu_item{ color:#202020; }
.mobile_menu_item.active{ color:#53952A; font-weight:bold;}
.mobile_menu_item:hover, .mobile_menu_item:active{ color:#53952A; }



/* ---------------------------------------------------------------------------------
2. Контент
-------------------------------------------------------------------------------*/
.C-01{width:100%; min-width:100px; border-top: none; margin:0px auto; background:#FCFCFC;}
.C-02{margin:0px auto; width:350px; min-width:100px; padding-top:30px;  padding-bottom:30px;}
.main_container{width:auto; padding:0px 15px; min-width:100px; max-width:350px; float:none;}
.main_container_left{width:auto; padding:0px 15px; min-width:100px; max-width:350px; float:none;}
.layouts_mobile_bottom_blocks{display:block; width:auto; padding:0px 15px; min-width:100px; max-width:350px; float:none; border-radius:0px; margin-top:0px; padding-bottom:30px; background:#FCFCFC;}


/* ---------------------------------------------------------------------------------
1. ЛЕВОЕ МЕНЮ РАЗДЕЛОВ
-------------------------------------------------------------------------------*/
.main_right{display:none; float:none;}
.main_right_submenu{width:auto; padding:0px 15px; min-width:100px; max-width:350px; float:none; border-radius:0px; margin-top:30px; margin-bottom:0px;}
.submenu{padding-top:11px; padding-bottom:11px; display:block;  font-size:14px;}
.submenu:hover{color:#53952A;}
.submenu.active{font-weight:bold;  color:#53952A;}
.submenu_li{border-bottom:1px dotted #ccc;}
.submenu_ul{padding:0px;margin:0px;list-style:none;  padding-top:0px;}
.submenu_ul :last-child{border-bottom:none;}
.layouts_submenu_block{background:#F5F7F9; border-radius:3px;}
.layouts_submenu_padding{padding:33px; padding-top:25px;}
.layouts_submenu_title{display:none;}



/* ---------------------------------------------------------------------------------
3. футер
-------------------------------------------------------------------------------*/
.footer{display:none;}
.footer_mobile{display:block;}


/* ---------------------------------------------------------------------------------
1. НОВОСТИ
-------------------------------------------------------------------------------*/
.news_item_photo{ display:block; width:320px; height:auto; float:none; border-radius:3px; margin-right:0px;}
.news_item_description{ width:100%; float:none; margin-top:15px;}
.news_item_title{font-size:16px; font-weight:600; line-height:1.2em; text-transform:none;}
.news_item_date{padding-top:15px; color:#53952A; font-size:13px;}
.news_item_shorttext{padding-top: 10px; font-size:14px;;}

.news_view_photo{display:block; width:320px; height:auto; float:none; border-radius:5px; margin-right:0px; }
.news_view_description{width:auto; float:none; margin-top:20px;}
.news_view_title{font-size:18px; line-height:1.2em;}
.news_view_date{padding-top:15px; color:#53952A; font-size:14px;}
.news_view_text{padding-top: 10px;}


/* ---------------------------------------------------------------------------------
1. PAGES
-------------------------------------------------------------------------------*/
.pages_view_title{font-size:20px; line-height:1.2em;}
.pages_view_text{padding-top: 15px;}
.documents_title{font-size:18px; padding-bottom:10px; text-transform:uppercase;}
.documents_item_icon{width:60px;}

/* ---------------------------------------------------------------------------------
1. CONTACTS
-------------------------------------------------------------------------------*/
.contacts_left_block{width:100%;float:none;}
.contacts_right_block{width:100%; float:none; margin-top:40px;}
.contacts_description{margin-top:40px; width:100%;}


/* ---------------------------------------------------------------------------------
1. ГЛАВНАЯ
-------------------------------------------------------------------------------*/

/*BANNER*/
.home_banner_block{width:100%; height:240px;  }
.home_banner_block #block-for-slider {width: 100%;height:240px;margin:0px auto;overflow:hidden;position:relative;
}
.home_banner_block .slide{position:absolute;top:0px; left:110%;height:240px;width:100%; }
.home_banner_block .slide.active{left:0px;}
.home_banner_block #nav-btns{width:100%; height:auto; position:absolute; bottom:0px; left:0px; text-align:center;}
.home_banner_block .slide-nav-btn{width:10px; height:10px; border-radius:50%; background:#fff; border:1px solid #ccc; display:inline-block; margin-left:1px; margin-right:1px; cursor:pointer;}
.home_banner_block .slide-nav-btn:hover{background:#D9D9D9;}
.home_banner_block .slide-nav-btn.active{background:#ccc;}

/*BANNER text*/
.home_banner_block .slide_a{width:100%; height:210px; display:block; position:relative; border-radius:0px;}
.home_banner_block .slide-img{width:100%; height:210px; border-radius:0px; position:relative;}
.home_banner_block .slide-bg{width:100%; height:100%; background:rgba(0,0,0,0.4);}
.home_banner_block .slide-width{width:100%; padding:0px; margin:0px auto; height:100%; position:relative;}
.home_banner_block .slide-text-size{position:absolute; bottom:20px; left:0px; padding:0px 20px; width:auto;}
.home_banner_block .slide-text-height{margin-top:5px; height:auto; border-radius:5px; opacity:1;}
.home_banner_block .slide-text-flag{font-size:14px; color:#fff; }
.home_banner_block .slide-text-flag-2{background:#fff; color:#222; font-size:11px; padding:4px 8px; border-radius:3px;}
.home_banner_block .slide-text-title{font-size:14px; color:#fff; padding-top:15px; text-shadow:1px 1px 0px rgba(0,0,0,0.7);}
.home_banner_block .slide-text-description{display:none;}


/*home_todo_block*/
.home_todo_block{ margin-top:30px; }
.home_todo_title{ padding-bottom:5px; text-transform:uppercase; font-size:16px; padding-left:0px;}
.home_todo_a{display:block; border-radius:4px; width:133px; height:133px;  float:left; background:#FEFEFE; border:1px solid #A8A8A8;  margin-bottom:10px;}
.home_todo_padding{padding:17px;}
.home_todo_title{font-size:12px; text-transform:uppercase; font-weight:600; line-height:1.6em; color:#707070}
.home_todo_iscroll{ width:100%; height:163px; padding-bottom:0px; overflow:hidden;  }
.home_todo_iscroll_in{height:163px;}

/*главная левый блок*/
.home_big_left{ width: 100%; margin-top:0px; float:none; margin-right:0px; }

/*главная правый блок*/
.home_big_right{width:100%; margin-top:20px; float:none;}
.home_bigright_partners{margin-top:30px;}
.home_bigright_title{padding-bottom:5px; text-transform:uppercase; font-size:14px;}

/*главная новости*/
.home_newsitem_block{ padding-bottom:10px;  padding-top:10px; border-top:1px dotted #ccc;}
.home_newsblock_table{padding-bottom:5px;}
.home_newsblock_title{ text-transform:uppercase; font-size:12px; padding-left:0px; line-height:1em; color:#707070;}
.home_newsblock_link{ text-transform:uppercase; font-size:14px; font-weight:200;  line-height:1em;}
.home_newsitem_photo{display:block; width:80px; height:80px; float:left; border-radius:3px;  margin-right:15px;}
.home_newsitem_description{width:225px; float:left;  margin-top:0;height:80px; overflow:hidden; }
.home_newsitem_title{font-size:13px; font-weight:600; text-transform:none; padding-top:8px; display:block; line-height:1.5em;}
.home_newsitem_mobiledate{color:#53952A; font-size:12px;padding-top:0px; display:block; font-weight:600;}
.home_newsitem_date{display:none;}
.home_newsitem_text{padding-top: 10px; display:none;}
.home_newsitem_text2{font-size:14px; font-weight:200; line-height:1.6em;}

/*главная экспозиции*/
.home_expo_block{ width: 100%; margin-top:15px;}
.home_expo_table{width:100%; padding-bottom:5px; border-bottom:1px dotted #ccc; margin-bottom:10px;}
.home_expo_title{text-transform:uppercase; font-size:12px; padding-left:0px; color:#707070;}
.home_expo_link{ text-transform:uppercase; font-size:12px; font-weight:200;}

.home_expoitem_padding{ padding:10px; text-align:center; }
.home_expoitem_block{margin-bottom:10px; width:154px; height:231px; border-radius:4px; float:left; }
.home_expoitem_title{font-size:12px; color:#fff; text-transform:uppercase; font-weight:500; word-wrap:break-word;}

/*home_raspisanie_block*/
.home_raspisanie_block{ display:none; }
.home_raspisanie_bilety_iscroll{margin-top:0px; width:100%; padding-top:10px; padding-bottom:10px; overflow:hidden; height:280px; }
.home_raspisanie_bilety_iscroll_in{height:280px;  margin-top:0px; width:560px;}

/*layouts infoblocks*/
.layouts_infoblocks_iscroll{width:100%; padding-top:0px; height:auto; padding-bottom:0px;  overflow:hidden;}
.layouts_infoblocks_iscroll_in{height:auto; margin-top:0px; width:780px;}
.layouts_infoblock_item{ width:250px; display:block; background:#F2F2F2; border-radius:5px; margin-bottom:0px; float:left; height:auto; margin-right:10px;}
.layouts_infoblock_padding{padding:20px; padding-top:30px;}
.layouts_infoblock_title{font-size:12px; color:#fff;}
.layouts_infoblock_titleBg{background:#53952A; color:#fff; padding:4px 8px; border-radius:4px;}
.layouts_infoblock_description{font-size:12px; padding-top:20px; color:#808080; line-height:1.4em;}

/*layouts partners*/
.layouts_partners_iscroll{width:100%; padding-top:0px; height:auto; padding-bottom:0px;  overflow:hidden;}
.layouts_partners_iscroll_in{height:auto; margin-top:0px; width:1400px;}
.layouts_partners_item{border:1px solid #ccc; display:block; width:220px; height:110px; margin-bottom:0px; float:left; margin-right:10px;}

/* ---------------------------------------------------------------------------------
1. РЕДАКТОР
-------------------------------------------------------------------------------*/
.table_iscroll{width:320px; margin:0px auto; height:auto; overflow:hidden;}
.table_iscroll_in{min-height:100px; width:830px;}

/* ---------------------------------------------------------------------------------
1. ПАРТНЕРЫ
-------------------------------------------------------------------------------*/
.partners_padding_top{ padding-top:30px; }
.partners_item_block{ padding-bottom:10px; margin-bottom:10px; color:#000; }
.partners_item_photo{display:block; width:80px; height:40px; float:left;  border-radius:2px; }
.partners_item_description{width: 220px; float:left; padding-left:20px;}
.partners_item_title{font-size:12px; color:#000; text-decoration:none; text-transform:uppercase;}
.partners_item_text{font-size:12px; line-height:1.3em; padding-top:5px;}

.partners_custodiand_title{ font-size:20px; border-bottom:1px dotted #ccc; padding-bottom:10px; margin-top:30px; margin-bottom:10px; }
.custodians_item_description{width: 220px; float:left; padding-left:20px;}
.custodians_item_animal_block{padding-top:0px;  margin-top:10px; margin-bottom:10px;}
.custodians_item_animal_name{font-size:12px; color:#53952A; line-height:1em;}
.custodians_item_animal_photo{clear:both; margin-left:100px; width:40px; height:40px; display:block; box-shadow:0px 0px 5px rgba(0,0,0,.1); float:none; margin-top:0px;}

/* ---------------------------------------------------------------------------------
1. AFISHA
-------------------------------------------------------------------------------*/
.afisha_block{ padding-top:5px; min-height:400px;}


/* ---------------------------------------------------------------------------------
1. AFISHA FORM
-------------------------------------------------------------------------------*/
.ocenka_preview{ width:100%; background:#fff; border-radius:5px; box-shadow:0px 0px 5px rgba(0,0,0,.1); margin-bottom:20px;}
.form_padding{padding:20px 25px;}
.form_photo{display:none;}
.form_description{width:100%; float:none;}
.form_title{font-size:26px; font-weight:500;}
.form_text{font-size:14px; font-weight:200; padding-top:10px;}
.form_button{cursor:pointer; width:100px; height:36px; border-radius:4px; margin-top:20px; color:#fff; line-height:36px; font-size:14px; text-align:center; background:#007BFF;}
.form_long_description{ width:100%; float:none; }
.form_confa_description{width:100%; float:none;}
.Yarmarka_preview{ margin-bottom:0px; }


/* ---------------------------------------------------------------------------------
1. confa
-------------------------------------------------------------------------------*/
.opros_block{ width:100%; margin:0px auto; background:#fff; border:1px solid #ccc; background:#F2F2F2; border-radius:6px; padding-top:30px; padding-bottom:0px; }
.opros_block_in{width:300px; margin:0px auto;}

.opros_block .description{display:none; margin-top:20px;}
.opros_block .question_button{padding:6px 10px; background:#FFFFFF; text-align:left; cursor:pointer; width:278px; font-size:12px;}
.opros_block .question_button:hover{background:rgba(250, 250, 250, 1); }
.opros_block .question_button.checked{background:rgba(250, 250, 250, 1); }
.opros_block .question_title{ font-size:20px; padding-bottom:10px; font-weight:400; text-align:center; }

.opros_block .next{cursor:pointer; width:150px; height:40px; border-radius:4px; color:#fff; line-height:40px; font-size:14px; text-align:center; background:#007BFF; margin:0px auto; margin-top:20px;}
.opros_block .next:hover{background:#0076F5;}

.opros_block .question .right{width:100%;height:100%; background:rgba(102, 204, 51, 0.7); display:none;  z-index:888; position:absolute; top:0px; left:0px; border-radius:5px;}
.opros_block .question .wrong{width:100%;height:100%; background:rgba(204, 0, 0, 0.7); display:none; z-index:888; position:absolute; top:0px; left:0px; border-radius:5px;}

.opros_block .description_image{ width:300px; height:150px; border-radius:5px; position:relative; margin-bottom:20px; }
.opros_block .right_image{ width:80px; height:76px; background:url(/css_tool/success.png) center; background-size:cover; position:absolute; top:50%; left:50%; margin-top:-38px; margin-left:-40px; }
.opros_block .wrong_image{ width:60px; height:60px; background:url(/css_tool/cross_white.png) center no-repeat;  position:absolute; top:50%; left:50%; margin-top:-30px; margin-left:-30px; border-radius:50%; border:3px solid #fff;}

.opros_block .fail_form{ width:100%; background:none; border-radius:5px; box-shadow:none; margin-bottom:20px; }
.opros_block .fail_form_in{padding:10px; padding-bottom:30px; }
.opros_block .fail_form_photo{width:100px; height:80px; background:url(/css_tool/asset.png) center; background-size:cover; margin:0px auto; }
.opros_block .fail_form_title_block{width:100%; margin:0px auto;  text-align:center; }
.opros_block .fail_form_title{font-size:26px; font-weight:200; padding-top:15px;}
.opros_block .fail_form_description{font-size:14px; line-height:1.5em; font-weight:200; padding-top:15px;}

.opros_block .success_form{display:block; width:100%; margin:0px auto; background:none; border-radius:0px; box-shadow:none; margin-bottom:20px;}
.opros_block .success_form_in{padding:10px; padding-bottom:30px;}
.opros_block .success_form_photo{width:100px; height:80px; background:url(/css_tool/asset.png) center; background-size:cover; margin:0px auto;}
.opros_block .success_form_title_block{width:100%; margin:0px auto; text-align:center;}
.opros_block .success_form_title{font-size:26px; font-weight:200;}
.opros_block .success_form_description{font-size:14px; line-height:1.5em; font-weight:200; padding-top:15px;}

.opros_block .ocenka_thnx{display:none; width:100%; background:none; border-radius:5px; box-shadow:none; margin-bottom:20px;}
.opros_block .ocenka_thnx_in{padding:10px; padding-bottom:30px;}
.opros_block .ocenka_thnx_photo{width:100px; height:80px; background:url(/css_tool/asset.png) center; background-size:cover; margin:0px auto;}
.opros_block .ocenka_thnx_title_block{width:100%; margin:0px auto;  text-align:center;}
.opros_block .ocenka_thnx_title{font-size:26px; font-weight:200; padding-top:15px;}
.opros_block .ocenka_thnx_description{font-size:14px; line-height:1.5em; font-weight:200; padding-top:15px;}

/* ---------------------------------------------------------------------------------
1. exposure
-------------------------------------------------------------------------------*/
.expo_pr_block{ padding-bottom:30px; }
.expo_pr_photo_block{width:100%; height:auto; float:none; }
.expo_pr_photo{display:block; width:320px; height:auto; float:none; border-radius:3px; margin-right:0px;}

.expo_pr_photo_img{width:320px; height:auto; border-radius:3px;}

.expo_pr_photo_info{display:none;}
.expo_pr_description{width: 100%; float:none; padding-left:0px; margin-top:20px;}
.expo_pr_title{font-size:20px; text-transform:uppercase; margin-top:-5px; font-weight:600;}
.expo_pr_subtitle{padding-top:10px; font-size:14px; font-weight:400; color:#53952A;}
.expo_pr_shortext{font-size:13px; line-height:1.5em; padding-top:15px; color:#909090;}
.expo_pr_text{font-size:13px; line-height:1.5em; padding-top:15px; color:#909090;}
.expo_pr_somephotos_block{margin-top:20px;}
.expo_pr_photos_more{width:40px; height:50px; display:block; float:left; border-radius:3px; background:#f0f0f0; line-height:50px; text-align:center; font-size:12px;}
.expo_pr_photos_item{width:50px; height:50px; display:block; float:left; border-radius:3px; margin-right:5px;}


.expo_type_title{margin-top:0px; padding-bottom:0px; border-top:none;}
.expo_animal_item{display:block; width:100%; height:auto; border-radius:0px; padding-top:10px; padding-bottom:10px; border-top:1px dotted #ccc; margin-bottom:0px;}
.expo_animal_item.animal_left{float:none;}
.expo_animal_item.animal_right{float:none;}
.expo_animal_photo{width:60px; height:60px; border-radius:5px; float:left; margin-right:20px;}
.expo_animal_description{width:240px; float:left;}
.expo_animal_type{padding-top:0px; padding-bottom:10px;  text-transform:uppercase; font-size:11px; text-transform:upperacase;}
.expo_animal_title{font-size:14px;}


/* ---------------------------------------------------------------------------------
1. animal
-------------------------------------------------------------------------------*/
.animal_photo_block{ border-radius:5px; position:relative;width:320px; height:auto; }
.animal_photo_block_img{width:320px; border-radius:5px; z-index:111;}
.animal_photo_bg{border-radius:5px; width:100%; height:100%; background-image: linear-gradient(-180deg, rgba(0,0,0,0) 38%, rgba(0,0,0,0.65) 79%); position:absolute; z-index:777; top:0px; left:0px;}
.animal_photo_bg_relative{border-radius:5px; width:100%; height:100%; position:relative;}
.animal_photo_absolute{position:absolute; bottom:10px; left:20px; width:280px; height:auto; color:#fff;}
.animal_title{font-size:20px; line-height:1.2em; font-weight:600; text-transform:uppercase;}
.animal_redbook_icon{float:left; width:60px; margin-right:0px; margin-top:10px;}
.animal_redbook_icon_img{height:45px;}
.animal_opeka_icon{float:left; width:60px; margin-right:10px; margin-top:15px;}
.animal_opeka_icon_img{height:30px;}
.animal_photos_more{width:45px; height:50px; display:block; float:left; border-radius:5px; background:#f0f0f0; line-height:50px; text-align:center; font-size:12px; text-decoration:none;}
.animal_photo_item{width:50px; height:50px; display:block; float:left; border-radius:5px; margin-right:5px;}
.animal_description{padding-top: 15px; font-size:14px;}

.animal_custodian{color:#000; background:#F0F0F0; margin-top:20px; border-radius:5px;}
.animal_custodian_in{padding:10px;}
.animal_custodian_photo{display:block; width:80px; height:40px; float:left;}
.animal_custodian_description{width: 200px; float:left; padding-left:20px;}
.animal_custodian_title{font-size:14px;color:#000; line-height:1em;}
.animal_custodian_text{font-size:12px; line-height:1.3em; padding-top:10px;}


.animal_news{margin-top:30px;}
.animal_news_title{font-size:14px; font-weight:600; text-transform:uppercase;}

.animal_newsitem_block{ padding-bottom:10px;  padding-top:10px; border-top:1px dotted #ccc;}
.animal_newsitem_block.border_one{ padding-top:10px; border-top:1px dotted #ccc; margin-top:5px; }
.animal_newsitem_block.border_two{padding-top:10px; border-top:1px dotted #ccc; margin-top:10px;;}
.animal_newsblock_table{padding-bottom:5px;}
.animal_newsblock_title{ text-transform:uppercase; font-size:12px; padding-left:0px; line-height:1em; color:#707070;}
.animal_newsblock_link{ text-transform:uppercase; font-size:14px; font-weight:200;  line-height:1em;}
.animal_newsitem_photo{display:block; width:80px; height:80px; float:left; border-radius:3px;  margin-right:15px;}
.animal_newsitem_description{width:225px; float:left;  margin-top:0;height:80px; overflow:hidden; }
.animal_newsitem_title{font-size:13px; font-weight:600; text-transform:none; padding-top:8px; display:block; line-height:1.5em;}
.animal_newsitem_mobiledate{color:#53952A; font-size:12px;padding-top:0px; display:block; font-weight:600;}
.animal_newsitem_date{display:none;}
.animal_newsitem_text{padding-top: 10px; display:none;}
.animal_newsitem_text2{font-size:14px; font-weight:200; line-height:1.6em;}


/* ---------------------------------------------------------------------------------
1. photos
-------------------------------------------------------------------------------*/
.photo_under_text{ width:103px; height:70px; border-radius:3px; display:block; float:left; margin-right:3px; margin-bottom:3px; }

}