
/*----------------------------
--- ОСНОВНЫЕ НАСТРОЙКИ -----
-----------------------------*/

body{min-width:100px;}
.container{min-width:none;max-width:none;}
.mainMenu{ display:none; }
/*Мобильный заголовок*/
.mobileTitle { display:block;text-shadow:0px -1px 0px #000; color:#dfaa00; font-size:20px; font-family:cuprumreg, cambria, Candara, times new roman;  text-align:center; margin-bottom: 30px; }


/*----------------------------
--- ГЛАВНЫЙ САМЫЙ СЛАЙД -----
-----------------------------*/
.sectionMain{width: 100%; min-width:100px;  height:auto; z-index:999999999; min-height:400px;  }
.sectionMain_container{ width: 100%; height:100%; min-width:100px; position:relative; box-shadow: none; z-index:999; }
.sectionMain_menu{border-right:1px solid #000; border-left: 1px solid #000; display:block; height:100%; width:100%;  min-width:160px; max-width: 280px;   background:url(../css_tool/catalog_bg.png) #202020;  z-index:9999; float:none; position:relative; top:0px; left:0px; margin:0px auto; z-index:999;}
.sectionMain_slider {display:none; border: 1px solid #ff0000;margin-left:0; height:100%; width:100%; min-height:400px; min-width:100px; opacity:1; position:relative; overflow:hidden; }
.sectionMain_logoBox {margin-top: -20px; }
.sectionMain_itemsBox { margin-top: 20px; }
.sectionMain .sectionMain_contacts{position:inherit; bottom: 0px; left:0px; width:100%; padding-bottom:30px;font-family:times new roman; text-align:center; line-height:1.1em; color: #eac24c; font-weight:normal; background:none;  z-index:99999; margin-left:0px; padding-right:0px; margin-top: 50px;}
/*Элементы Менюхи сбоку*/
.sectionOne_menuItem {cursor:pointer; padding-top:2px; text-transform:uppercase; width: 100%; height:36px; line-height:36px; font-family: cuprumreg, cambria, Candara, 'times new roman'; font-size:16px; color: #959595; text-align:center; margin-bottom:3px; margin-top:3px; margin-left:0px; padding-right:0px; }
.sectionOne_menuItem:hover{background:rgba(0,0,0,.4); color: #B8B8B8; }
.sectionOne_menuItem.active{background:rgba(0,0,0,.6); color: #9C9C9C; }
.sectionOne_menuItem.second { margin-top:12px; }
.sectionOne_menuItem.active{line-height:36px; font-size:18px; color: #fff; background:rgba(0,0,0,.4); border-top:1px solid #000;border-bottom:1px solid #000; margin-top:3px; margin-bottom:5px;}
 /*Стрелки слайдера*/
.sectionMain .rowLeft{display:none;cursor:pointer; position:absolute; top: 50%; margin-top:-70px; width:109px; height:118px; left: 40px; background: url(../css_tool/left2.png); z-index:888;}
.sectionMain .rowRight{display:none;cursor:pointer; position:absolute; top: 50%; margin-top:-70px; width:109px; height:118px; right: 40px; background: url(../css_tool/right2.png); z-index:888;}
.sectionMain .rowLeft:hover, .sectionMain .rowRight:hover{ opacity:0.8;}
.sectionMain_tabs { display:none; }
.sectionMain_tabs.none{ display:none; }
.sectionMain_tabs.block{ display:none;}
.sectionMain_sliderPlaceholder{ display:block; height: 100%; width: 100%; min-height: 400px; min-width:100px; position: absolute; top: 0px; left:0px; z-index: 1;}
/*блок с акциями*/
.sectionMain_saleText{ display:none; }


/*----------------------------
--- КАТАЛОГ------------------
-----------------------------*/
.sectionCatatalog { min-width:100px; z-index:998; background:url(../css_tool/blur.jpg) #505050 no-repeat; background-size:cover; width:100%; }
.sectionCatatalog_container {width:100%; height:100%;  background: rgba(0,0,0,0.7);padding-top:35px; padding-bottom:15px;  }
.sectionCatatalog .container{  width:100%; min-width:100px; max-width:350px; margin:0px auto; }
.sectionCatatalog_box { padding:0px 10px; }
.sectionCatatalog_menu {display:none; width: 220px; float:left; position:relative; min-height:550px;  padding-bottom: 150px; }
.sectionCatatalog_content {  margin-left: 0px;  }
.catalogContainer {  width:100%; max-width:350px; height:450px; overflow:hidden; position:relative;  margin: 0px auto; }
.catalogContent { width:100%; min-width:200px; height:400px; float:none; position:relative; margin-left:5px; }
.catalogLoader { width:100%; min-width:200px; height:400px; position:absolute; top:0px; right:0px; display:none; }
/*text under slider*/
.sectionCatalog_text {display:none; width: 100%; float:none; max-width:350px; margin: 0px auto;  margin-top: 45px; }
.sectionCatalog_textTitle { text-shadow:0px -1px 0px #000; color:#F0F0F0; font-size:22px; font-family:cuprumreg, cambria, Candara, times new roman; text-align:center; margin-bottom:40px; }
.sectionCatalog_Column {width: 270px; float:left; color: #000; font-size:12px; margin-top: 0px; margin-left:35px; line-height:1.3em;}
.sectionCatalog_Column.first {margin-left:0px;}
.sectionCatalog_ColumnTitle { color:#FBDF98; font-size:15px; font-family:cuprumreg, cambria, Candara, times new roman; display:block; }
.sectionCatalog_ColumnText { font-size:14px; margin-top: 8px; line-height:1.5em; color: #F0F0F0; text-shadow:0px -1px -1px #000; }
.sectionCatalog_underColumn { clear:both;text-align:center; margin-top: 30px; }
/*Slider*/
.sectionCatalog_countries{ display:none; }
.sectionCatalog_slider {width:300px; padding-left:0px; height:420px; overflow:hidden; margin:0px auto; }
.sectionCatalog_slider .productSlider { width:300px; min-width:280px;  height:430px; margin-top: 0px; overflow:hidden; }
.sectionCatalog_slider .productSlider_slide { width:100%;   height:415px; float:left; overflow:hidden; }
.sectionCatalog_slider .photoBig { display:block;border:none;width:148px; overflow:hidden; height:200px; margin-right: 0px; margin-bottom:3px; position:relative; box-shadow: 0px 0px 10px rgba(0,0,0,0.5); }
.sectionCatalog_slider .photoBig.right { float:right; }
.sectionCatalog_slider .photoBig.left { float:left; }
.sectionCatalog_slider .photoSmall { display:block;border:none;width: 98px;margin-right:2px; height:110px; float:left; margin-bottom:3px; position:relative; box-shadow: 0px 0px 10px rgba(0,0,0,0.5); overflow:hidden;}
.sectionCatalog_slider .photoSmall.last {margin-right:0px;}
.sectionCatalog_slider .photoBig .photoBackground { width: 100%; height:100%;  }
.sectionCatalog_slider .photoSmall .photoBackground { width: 100%; height:100%;  }
.sectionCatalog_slider .photoSmall .photoRamka{ display:none; }
.sectionCatalog_slider .photoBig .photoRamka{ display:none; }
/*Стрелки слайдера*/
.sectionCatatalog .rowLeft{ display:none;}
.sectionCatatalog .rowRight{ display:none;}
/*Мобильные Стрелки слайдера*/
.sectionCatatalog .smallRowLeft, .sectionCatatalog .smallRowRight{display:block; cursor:pointer; position:absolute; width: 45px; height:45px; text-align:center; line-height:45px; font-size:20px; border-radius:4px; background: rgba(0,0,0,.8); color: #fff; padding:0px;}
.sectionCatatalog .smallRowRight{top:340px; left:50%; margin-left:2px; }
.sectionCatatalog .smallRowLeft{top:340px; right:50%; margin-right:2px;}
/*Мобильный рубрикатор*/
.sectionCatalog_mobileTitle {display:block;text-shadow:0px -1px 0px #000; color:#dfaa00; font-size:16px; font-family:cuprumreg, cambria, Candara, times new roman;  text-align:center;  background: rgba(0,0,0,.3); padding: 4px 0px; border-radius: 4px; width:300px; margin:0px auto; margin-bottom: 30px; }
.sectionCatalog_mobileTitle .left{color:#dfaa00;}
.sectionCatalog_mobileTitle .right{color: #FBDD93;}
.sectionCatalog_mobileTitle .center{color:#dfaa00;}
/*Мобильное меню*/
.sectionCatalog_mobileMenu {display:none; width: 100%;  height:100%; min-width:100px; position:fixed; top:0px; left:0px; z-index:999999999999; background:rgba(0,0,0,.95); padding:35px 0px; }


/*----------------------------
--- УСЛУГИ------------------
-----------------------------*/
.sectionService { padding-top:35px; padding-bottom:20px;  z-index:998;background:url(../css_tool/catalog_bg.png) #202020; width:100% !important; }
.sectionService .container{ width:100%; min-width:100px; max-width:350px; margin:0px auto; }
.sectionService_container { margin:0px 10px; position:relative;  }
.sectionService_box { width: 100%; max-width:350px;  margin:0px auto;  }
.serviceSlider { width:100%;height: 420px; overflow:hidden; padding:0px; }
.serviceSlider_box{ margin:0px; padding:0px; list-style: none; height:430px; overflow:hidden; }
.sectionService .serviceSlide{ list-style:none; float:left;}
.sectionService .serviceSlide_photo{ float:none;width: 100%; max-width:350px; height: 200px; border:0px solid #fff; box-shadow:none;  margin-left:0px;  }
.sectionService .serviceSlide_content{ margin-left: 0px; margin-top: 20px; width:98%; }
.sectionService .serviceSlide_title{ color: #D79D09; text-shadow:-1px -1px 0px #000; margin-top: 0px; font-size:17px; line-height:1.2em; font-family:cuprumreg, cambria, Candara, times new roman; margin-left:0px; font-weight: normal; text-align:center; }
.sectionService .serviceSlide_text{ font-size:14px; color: #D0D0D0; text-shadow:-1px -1px 0px #000; margin-top:12px; margin-left:0px; font-family:cuprumreg, cambria, Candara, times new roman; font-weight:bold; text-align:justify;}
/*разделительная линия*/
.sectionService .razdelitelLine_top{display:none; height:1px; border-bottom: 1px solid #000; width: 100%; margin: 0px auto; margin-top: 50px;}
.sectionService .razdelitelLine_bottom{display:none; height:1px; border-top: 1px solid #303030; width: 100%; margin: 0px auto; margin-bottom: 40px;}
/*текст под слайдером*/
.sectionService .sectionService_underSlide{display:none; width: 47%;  color: #000; font-size:12px; margin-top: 0px; line-height:1.3em; }
.sectionService .sectionService_underSlide.left{ float:left; }
.sectionService .sectionService_underSlide.right{ float:right; }
.sectionService .underSlide_title{ color: #F7C64A; text-shadow:-1px -1px 0px #000;  font-size:22px; font-family:cuprumreg, cambria, Candara, times new roman; }
.sectionService .underSlide_text{ font-size:15px; margin-top: 10px; line-height:1.4em; color: #D0D0D0; text-shadow:-1px -1px 0px #000;}
/*Стрелки слайдера*/
.sectionService .rowLeft{ display:none;}
.sectionService .rowRight{display:none;}
/*Мобильные Стрелки слайдера*/
.sectionService_arrowsBox {display:block;  height:50px; width: 100%; max-width:350px; margin: 0px auto; margin-top: 15px; position:relative; }
.sectionService .smallRowLeft, .sectionService .smallRowRight{display:block; cursor:pointer; position:absolute; width: 45px; height:45px; text-align:center; line-height:45px; font-size:20px; border-radius:4px; background: rgba(0,0,0,.8); color: #fff; padding:0px;}
.sectionService .smallRowRight{top:0px; left:50%; margin-left:2px; }
.sectionService .smallRowLeft{top:0px; right:50%; margin-right:2px;}


/*----------------------------
--- О САЛОНЕ------------------
-----------------------------*/
.sectionAbout { min-width:100px; width:100%;  z-index:998; background:url(../css_tool/catalog_bg.png) #505050; height:auto; }
.sectionAbout_container { width:100%; padding-top:35px; padding-bottom:40px; overflow:visible; background: rgba(0,0,0,.4); position:relative; border-top: 1px solid rgba(8, 4, 2, .3); }
.sectionAbout .container{ width:100%; min-width:100px; max-width:350px; margin:0px auto; }
.sectionAbout_box{ padding:0px 10px; }
.sectionAbout_photo{ float:none;width: 100%; height: 240px; border:0px solid #fff; box-shadow:none; margin-left: 0px; }
.sectionAbout .aboutmePhoto{ float:none; width: 100%; margin-left: 0px; margin-top: 20px;}
.sectionAbout .subHeading{ color: #D79D09; text-shadow:-1px -1px 0px #000; margin-top: 0px; font-size:17px; line-height:1.2em; font-family:cuprumreg, cambria, Candara, times new roman; margin-left:0px; font-weight: normal; text-align:center;}
.sectionAbout .aboutmePhoto_text{ color: #D0D0D0; text-shadow:-1px -1px 0px #000; margin-top:12px; margin-left:0px; font-family:arial; font-size:12px; line-height:1.35em; text-align:justify}
.sectionAbout_video{display:none;  height:auto;float:none; margin:0px auto; margin-top:25px;}
.sectionAbout .fancybox-media.big{ display:block; border:none;width: 300px; height:186px; background-color: #fff; border-radius:3px; box-shadow: 0px 0px 4px rgba(0,0,0,0.5); position:relative;  }
.sectionAbout_bigVideo { width:100%; height:186px;  border-radius:3px;   }
.sectionAbout_bigVideoRamka {display:none; width:100%; height:186px; background: url(../css_tool/blur_bg.png); background-size:cover; border-radius:3px; position:absolute; top: 0px; left:0px; z-index:888; opacity:0.2;   }
.sectionAbout_bigVideoPlay{ width:140px; height:130px; background: url(../css_tool/movie.png); background-size:cover; border-radius:3px; position:absolute; top: 30px; left:85px; opacity:0.9;z-index:889; }
.sectionAbout_bigVideoRamka2{display:none; width:298px; height:184px; border: 1px solid rgba(255,255,255,0.4); border-radius:3px; position:absolute; top:0px; left:0px; }
.sectionAbout_smallVideos{ margin-top: 9px;  position:relative; }
.sectionAbout .videoSlider { height:152px; width:306px; overflow:hidden;}
.sectionAbout_slide{ width:306px; height:152px; float:left; }
.sectionAbout .fancybox-media.small{ display:block; border:none;width: 70px; height:70px; margin-right:6px; margin-top:6px; float:left; border-radius:3px; box-shadow: 0px 0px 2px rgba(0,0,0,0.3); }
/*Стрелки слайдера*/
.sectionAbout .rowLeft{display:none;}
.sectionAbout .rowRight{display:none;}
/*Логотипы внизу*/
.sectionAbout_logos{display:none; clear:both; border-top: 1px solid rgba(8, 4, 2, .5); border-bottom: 1px solid rgba(8, 4, 2, 1); height: 100px; width:100%; background: rgba(8, 4, 2, .2); position:absolute; bottom:0px; right:0px; }
/*Мобильные Стрелки слайдера*/
.sectionAbout_arrowsBox {display:block;  height:50px; width: 100%; max-width:350px; margin: 0px auto; margin-top: 15px; position:relative; }
.sectionAbout .smallRowLeft, .sectionAbout .smallRowRight{display:block; cursor:pointer; position:absolute; width: 45px; height:45px; text-align:center; line-height:45px; font-size:20px; border-radius:4px; background: rgba(0,0,0,.8); color: #fff; padding:0px;}
.sectionAbout .smallRowRight{top:0px; left:50%; margin-left:2px;}
.sectionAbout .smallRowLeft{top:0px; right:50%; margin-right:2px;}
/*Кнопка показать Видео и Скрыть видео*/
.showVideo_button, .hideVideo_button {display:block; width: 100%; max-width:350px; height:40px; line-height:40px; background: #000; color: #D79D09; font-family:cuprumreg, cambria, Candara, times new roman; font-size:13px; text-align:center; margin-top:25px;}


/*----------------------------
--- ПАРТНЕРЫ ------------------
-----------------------------*/
.sectionPartners{ min-width:100px; width:100%; padding-top:35px; padding-bottom:40px; z-index:998; background:url(../css_tool/catalog_bg.png) #505050; }
.sectionPartners .container{ width:100%; min-width:100px; max-width:350px; margin:0px auto;}
.sectionPartners_box{ margin:0px 10px; }
.partnersContainer { width:100%; margin: 0px auto; position:relative;  }
.partnersSlider { margin:0px auto;  overflow:hidden; width:100%;}
.sectionPartners_slide { width: 100%;  float:left; min-height:500px; }
.sectionPartners_Partner { width: 100%; max-width:350px; margin-bottom: 30px; padding-bottom: 30px; border-bottom: 1px solid #000;  }
.sectionPartners_Partner.left { float:none;  }
.sectionPartners_Partner.right { float:none;  }
.sectionPartners_pictureTD { width: 172px; display:none;}
.sectionPartners_picture { margin-left:7px;width: 150px; height: 150px; box-shadow:0px 0px 10px rgba(0,0,0,0.3); margin-top: 10px; position:relative;}
.sectionPartners_pictureRamka { position:absolute; top:0px left:0px; border: 1px solid rgba(255,255,255,0.4); width: 148px; height:148px; }
.sectionPartner_logo { width:110px;margin-top: 0px;  }
.sectionPartner_text{ color: #D0D0D0; text-shadow:-1px -1px 0px #000; font-size:12px; margin-top:10px; line-height:1.3em; text-align:justify; }
.sectionParnter_linkBox{ margin-top: 10px; color:  rgba(224, 0, 150, 1); font-size:12px; }
.sectionParnter_link { color:  rgba(224, 0, 150, 1); font-size:12px; }
.sectionParnter_link:hover { color:  rgba(255, 178, 230, 1); font-size:12px; }
.sectionPartners .razdelitelTop {display:none;  }
.sectionPartners .razdelitelBottom {display:none;  }
/*Стрелки слайдера*/
.sectionPartners .rowLeft{display:none;}
.sectionPartners .rowRight{display:none;}
/*Мобильные Стрелки слайдера*/
.sectionPartners_arrowsBox {display:block;  height:50px; width: 100%; max-width:350px; margin: 0px auto; margin-top: 15px; position:relative; }
.sectionPartners .smallRowLeft, .sectionPartners .smallRowRight{display:block; cursor:pointer; position:absolute; width: 45px; height:45px; text-align:center; line-height:45px; font-size:20px; border-radius:4px; background: rgba(0,0,0,.8); color: #fff; padding:0px;}
.sectionPartners .smallRowRight{top:0px; left:50%; margin-left:2px; }
.sectionPartners .smallRowLeft{top:0px; right:50%; margin-right:2px;}

/*----------------------------
--- КОНТАКТЫ ------------------
-----------------------------*/
.sectionContacts {width:100%; z-index:998;background:url(../css_tool/catalog_bg.png) #505050; }
.sectionContacts_box { height:100%; width:100%; background: rgba(0,0,0,.25); border-top: 1px solid rgba(8, 4, 2, .7); padding-top:35px; padding-bottom:40px; }
.sectionContacts .container { width:100%; min-width:100px; max-width:350px; margin:0px auto; }
.sectionContacts_container { padding:0px 10px; }
@media screen and (max-width:800px) {
.sectionContacts_left{ width: 100%; float: none; }
.sectionContacts_mapPlaceholder{ margin-top: -10px; width: 100%; max-width:350px; height:287px; border: 0px solid #fff;  }
.sectionContacts_map{ margin-top: 0px; width: 100%; max-width:350px; height:287px; border: 0px solid #fff; overflow:hidden;  }
.sectionContacts_adressBox{ float:left; width: 160px; margin-top: 20px; }
.sectionContacts_first{ font-size: 12px; color: #F8CE62; }
.sectionContacts_second{ margin-top: 0px; font-size: 16px; color: #D79D09; text-transform:uppercase; font-family:cuprumreg, cambria, Candara, times new roman; }
.sectionContacts_third { font-size: 12px; color: #6E6E6E; text-shadow:0px 1px 0px #141414; margin-top:-2px; }
.sectionContacts_adressRight{ float:right; width: 140px; text-align:right; margin-right:0px; margin-top: 20px; }
.sectionContacts_fourth { margin-top:0px; font-size: 16px; color: #D79D09; font-family:cuprumreg, cambria, Candara, times new roman; }
.sectionContacts_fifth { font-size:12px; color: #FADF99; text-shadow:0px 1px 0px #141414; margin-top:2px; }
.sectionContacts_sixth { padding-bottom:1px; border-bottom: 1px solid padding-bottom:2px; border-bottom: 1px solid #FADF99; }
.sectionContacts_form { display:none; }
.sectionContacts .siteMadeBy {height:35px; border-top: 1px solid #000; background: rgba(0,0,0,0.8); line-height: 35px;}
.sectionContacts .siteMadeByBox {width:100%; min-width:1px; max-width:100%; margin:0px auto; text-align:center;}
.sectionContacts .siteMadeByCont {color: rgba(252, 235, 192, .3); font-size:12px; margin: 0px 10px;}
}










